<% if(typeof message != "undefined" && message != "") { %>
<div class="alert alert-info"><%= message %></div>
<% } %>

<% if(typeof warning != "undefined" && warning != "") { %>
<div class="alert alert-warning"><%= warning %></div>
<% } %>

<% if(typeof error != "undefined" && error != "") { %>
<div class="alert alert-error"><%= error %></div>
<% } %>