<h1 class="mrl">Add friend</h1>
<div class="clear_medium"></div>


<div class="fl">
	<div style="width:100px;" class="mrl fl mrt">

		<a href="/user/8/">
			<img width="60" src="/public/images/avatar.png" class="fl"></a>

		<b class="mrl fl">
			<a href="/user/8/">Vika</a>
		</b>
		<input onclick="window.Frontent.addFriend(3);" type="button" value="Add friend">

	</div>
	<div style="width:100px;" class="mrl fl  mrt">
		<a href="/user/8/">
			<img width="60" src="/public/images/avatar.png" class="fl"></a>

		<b class="mrl fl">
			<a href="/user/8/">Gligun</a>
		</b>
		<input onclick="window.Frontent.addFriend(4);" type="button" value="Add friend">

	</div>
	<div style="width:100px;" class="mrl fl  mrt">
		<a href="/user/8/">
			<img width="60" src="/public/images/avatar.png" class="fl"></a>

		<b class="mrl fl">
			<a href="/user/8/">Lena</a>
		</b>
		<input onclick="window.Frontent.addFriend(5);" type="button" value="Add friend">

	</div>
	<div style="width:100px;" class="mrl fl">
		<a href="/user/8/">
			<img width="60" src="/public/images/avatar.png" class="fl"></a>

		<b class="mrl fl">
			<a href="/user/8/">Bobo</a>
		</b>
		<input onclick="window.Frontent.addFriend(6);" type="button" value="Add friend">
	</div>

</div>

<div class="clear_medium"></div>