<form action="/register" method="post" id="form_register" class="form-horizontal">
  <fieldset>
    <div class="control-group">
      <div class="controls">
        Use your social account to sign up:
        <div style="clear: both;"></div>
        <a class="fl" href="/auth/facebook">
          <img src="/images/facebook_32.png">
        </a>
        <a class="fl" href="/auth/twitter">
          <img src="/images/twitter_32.png">
        </a>
        <a class="fl" href="/auth/google">
          <img src="/images/google_32.png">
        </a>
        <a class="fl" href="/auth/facebook">
          <img src="/images/linkedin_32.png">
        </a>
        <div style="clear: both;"></div>
      </div>

      <div class="controls">
        Or
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="name">Name</label>

      <div class="controls">
        <input type="text" class="input-xlarge" name="name" id="name">
      </div>
      <div class="clear_medium"></div>
      <label class="control-label" for="email">Email</label>

      <div class="controls">
        <input type="text" class="input-xlarge" name="email" id="email">
      </div>
      <div class="clear_medium"></div>
      <label class="control-label" for="registerpassword">Password</label>

      <div class="controls">
        <input type="password" class="input-xlarge" name="password" id="registerpassword">
      </div>
      <div class="clear_medium"></div>
    </div>
    <div class="control-group">
      <div class="controls">
        <button class="btn btn-primary btn-large" type="submit">Join Skwibl</button>
      </div>
    </div>
  </fieldset>
</form>