<h1 class="mrl fl mrt">Videos</h1>
<a class="mrl_small btn btn-primary btn-large" >Download new video</a>
<div class="clear_medium"></div><div class="clear_medium"></div>
<div class="mrl tab-content">
	<div class="active tab-pane " id="videos">
		<div class="fl mrt " style="width:130px;">
			<a href="">
				<img src="/public/images/video1.jpg" ><br>
				Very good video
			</a>
		</div>

		<div class="fl mrt " style="width:130px;">
			<a href="">
				<img src="/public/images/video3.jpg" ><br>
				Very good video
			</a>
		</div>

		<div class="fl mrt " style="width:130px;">
			<a href="">
				<img src="/public/images/video2.jpg" ><br>
				Very good video
			</a>
		</div>

		<div class="fl mrt " style="width:130px;">
			<a href="">
				<img src="/public/images/video3.jpg" ><br>
				Very good video
			</a>
		</div>

		<div class="fl mrt " style="width:130px;">
			<a href="">
				<img src="/public/images/video1.jpg" ><br>
				Very good video
			</a>
		</div>

		<div class="clear_medium"></div><div class="clear_medium"></div>

		<div class="fl mrt " style="width:130px;">
			<a href="">
				<img src="/public/images/video2.jpg" ><br>
				Very good video
			</a>
		</div>

		<div class="fl mrt " style="width:130px;">
			<a href="">
				<img src="/public/images/video3.jpg" ><br>
				Very good video
			</a>
		</div>

		<div class="fl mrt " style="width:130px;">
			<a href="">
				<img src="/public/images/video2.jpg" ><br>
				Very good video
			</a>
		</div>

		<div class="fl mrt " style="width:130px;">
			<a href="">
				<img src="/public/images/video1.jpg" ><br>
				Very good video
			</a>
		</div>

	</div>
</div>
<div class="clear_medium"></div>
