<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Skwibl</title>

  <%- include("/shared/application_scripts") %>
</head>
<body>
<%- include('/header.ejs') %>

<div id="main-content" class="page tab-pane">
  <%- include('/shared/flash.ejs') %>

  <%- blocks.template %>
</div>
</body>
</html>

