<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Skwibl</title>

  <script src="/socket.io/socket.io.js"></script>

  <script src="/javascripts/jquery.js"></script>
  <script src="/javascripts/app.js"></script>
  <script src="/javascripts/home.js"></script>

  <script src="/public/javascripts/jquery/jquery-ui-1.8.21.custom.min.js"></script>
  <script src="/public/javascripts/jquery/jquery.bgiframe-2.1.2.js"></script>
  <script src="/public/javascripts/frontend.js"></script>

  <!-- jplayer start-->
  <script type="text/javascript" src="/public/javascripts/jplayer/jquery.jplayer/jquery.jplayer.js"></script>
  <script type="text/javascript" src="/public/javascripts/jplayer/add-on/jplayer.playlist.js"></script>
  <link href="/public/javascripts/jplayer/skin/pink.flag/jplayer.pink.flag.css" rel="stylesheet" type="text/css"/>
  <!-- jplayer end-->

  <!-- bootstrap start -->
  <script src="/public/stylesheets/bootstrap/js/bootstrap-transition.js"></script>
  <script src="/public/stylesheets/bootstrap/js/bootstrap-alert.js"></script>
  <script src="/public/stylesheets/bootstrap/js/bootstrap-modal.js"></script>
  <script src="/public/stylesheets/bootstrap/js/bootstrap-dropdown.js"></script>
  <script src="/public/stylesheets/bootstrap/js/bootstrap-scrollspy.js"></script>
  <script src="/public/stylesheets/bootstrap/js/bootstrap-tab.js"></script>
  <script src="/public/stylesheets/bootstrap/js/bootstrap-tooltip.js"></script>
  <script src="/public/stylesheets/bootstrap/js/bootstrap-popover.js"></script>
  <script src="/public/stylesheets/bootstrap/js/bootstrap-button.js"></script>
  <script src="/public/stylesheets/bootstrap/js/bootstrap-collapse.js"></script>
  <script src="/public/stylesheets/bootstrap/js/bootstrap-carousel.js"></script>
  <script src="/public/stylesheets/bootstrap/js/bootstrap-typeahead.js"></script>
  <!-- bootstrap end -->

  <link href="/public/stylesheets/style.css" rel="stylesheet">
  <link href="/public/stylesheets/bootstrap/css/bootstrap.css" rel="stylesheet">
  <link href="/public/stylesheets/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
  <link href="/public/javascripts/jquery/jquery-ui-1.8.21.custom.css" rel="stylesheet">
  <link href="/stylesheets/app.css" rel="stylesheet">
</head>
<body>
<%- include('header.ejs') %>

<div id="main-content" class="page tab-pane">
  <%- include('/shared/flash.ejs') %>

  <%- blocks.template %>
</div>
</body>
</html>

