body.room {
    padding-top: 55px;
    padding-bottom: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.room-container-fluid {
    padding-left: 10px;
    padding-right: 10px;
    height: 55px;
}

.room_logo {
    float: left;
    margin-top: 3px;
    vertical-align: top;
}

.room_logo img {
    vertical-align: top;
}

.room_logo .beta {
    left: -4px;
}

.site_nav {
    float: left;
    margin: 3px 0 0 25px;
    list-style: none;
    font-size: 0;
}

.site_nav li {
    display: inline-block;
    position: relative;
    line-height: 0;
}

.site_nav li a {
    padding: 0 7px;
    display: block;
}

/* ROOM HEADER START */

.navbar-fixed-top {
    position: fixed !important;
    margin-bottom: 0 !important;
}

.navbar-fixed-top .navbar-inner {
    padding: 0 !important;
}

.header_right {
    overflow: hidden;
    height: 100px
}

/*.instruments_wrap {
    position: relative;
    float: left;
    width: 75%;
}

@media screen and (max-width: 1260px) {
    .instruments_wrap {
        width: 88%;
    }
}*/

.ins_slider_l {
    position: absolute;
    height: 40px;
    top: 8px;
    bottom: 0;
    left: 0;
    width: 30px;
    background: url(/images/room/new/project_participants_slider_l.png) 50% no-repeat;
}

.ins_slider_r {
    position: absolute;
    height: 40px;
    top: 8px;
    bottom: 0;
    right: 0;
    width: 30px;
    background: url(/images/room/new/project_participants_slider_r.png) 50% no-repeat;
}

.instruments {
    float: left;
    margin: 0 0 0 5px;
    list-style: none;
    font-size: 0;
    padding: 8px 0 3px;
}

#skwiblAdditionalMenu {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #F6F1ED;
    margin: 0;
    padding: 0;
    border-color: #A1A1A1;
    box-shadow: #404040 0 5px 15px;
}

#skwiblAdditionalMenu hr {
    margin: 0;
}

.instruments li {
    display: inline-block;
    vertical-align: top;
    margin: 0 5px 5px;
    position: relative;
    height: 40px;
}

.instruments li a img {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.instruments li a strong {
    line-height: 38px;
}

.webkit .plusSign img, .webkit .minusSign img {
    position: relative;
    top: 3px;
}

.instruments li a {
    position: relative;
    color: #000;
    text-decoration: none;
    display: inline-block;
    width: 38px;
    height: 38px;
    border: 1px solid #c9c3be;
    border-radius: 4px;
    line-height: 0;
    text-align: center;
    position: relative;
    background-color: #eee5de;
    background-image: -moz-linear-gradient(top, #ffffff 0%, #eee5de 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #eee5de));
    background-image: -webkit-linear-gradient(top, #ffffff 0%, #eee5de 100%);
    background-image: -o-linear-gradient(top, #ffffff 0%, #eee5de 100%);
    background-image: -ms-linear-gradient(top, #ffffff 0%, #eee5de 100%);
    background-image: linear-gradient(to bottom, #ffffff 0%, #eee5de 100%);
    background-repeat: no-repeat;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    -ms-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

.instruments li a:hover {
    background-color: #eee5de;
    background-position: 0 -40px;
}

.instruments li a.disabled {
    cursor: default;
    background-color: #E6E6E6;
    background-image: none;
    opacity: 0.65;
    filter: alpha(opacity = 65);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.instruments li a:active {
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.2);
}

.instruments li.selected a.selectable {
    color: white;
    background-image: none;
    border-color: #5b6067;
    border-left: 1px solid #42454a;
    background-color: #5b6067;
    box-shadow: 1px 0 0 #fff;
}

.instruments > li.dropdown > a {
    border-radius: 4px 0 0 4px;
    margin-right: 16px;
}

.instruments > li.dropdown > .dropdown-toggle {
    position: absolute;
    top: 0;
    padding: 10px 0;
    margin: 0;
    left: 40px;
    width: 14px;
    border: 1px solid #c9c3be;
    border-left: none;
    border-radius: 0 4px 4px 0;
    box-shadow: none;
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #eee5de 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #eee5de));
    background: -webkit-linear-gradient(top, #ffffff 0%, #eee5de 100%);
    background: -o-linear-gradient(top, #ffffff 0%, #eee5de 100%);
    background: -ms-linear-gradient(top, #ffffff 0%, #eee5de 100%);
    background: linear-gradient(to bottom, #ffffff 0%, #eee5de 100%);
}

.instruments > li.dropdown.open > a:before {
    background: #eee5de;
}

.instruments li ul {
    display: none;
    position: absolute;
    top: 48px;
    left: 0;
    margin: 0;
    min-width: 44px;
    list-style: none;
    font-size: 0;
    white-space: nowrap;
    padding: 5px 5px 0;
    border: 1px solid #9b9c9d;
    border-radius: 4px;
    background: #fbfbfb;
    background: -moz-linear-gradient(top, #fbfbfb 0%, #dedede 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fbfbfb), color-stop(100%, #dedede));
    background: -webkit-linear-gradient(top, #fbfbfb 0%, #dedede 100%);
    background: -o-linear-gradient(top, #fbfbfb 0%, #dedede 100%);
    background: -ms-linear-gradient(top, #fbfbfb 0%, #dedede 100%);
    background: linear-gradient(to bottom, #fbfbfb 0%, #dedede 100%);
}

.instruments li.open ul {
    display: block;
}

.instruments li ul:before {
    content: "";
    position: absolute;
    top: -5px;
    left: 42px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #9b9c9d;
}

.instruments li ul:after {
    content: "";
    position: absolute;
    top: -4px;
    left: 42px;
    margin-left: 1px;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid #fbfbfb;
}

.instrument_zoom {
    display: inline-block;
    vertical-align: top;
    margin: 4px 5px 5px;
    height: 30px;
    line-height: 30px;
    padding: 0 5px;
    border: 1px solid #c9c3be;
    border-radius: 4px;
    position: relative;
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #eee5de 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #eee5de));
    background: -webkit-linear-gradient(top, #ffffff 0%, #eee5de 100%);
    background: -o-linear-gradient(top, #ffffff 0%, #eee5de 100%);
    background: -ms-linear-gradient(top, #ffffff 0%, #eee5de 100%);
    background: linear-gradient(to bottom, #ffffff 0%, #eee5de 100%);
}

.instrument_zoom a {
    display: inline-block;
    color: #000;
    text-decoration: none;
}

.instrument_zoom_text {
    font-size: 12px;
    vertical-align: top;
    padding: 0 25px 0 15px;
    position: relative;
}

.instrument_zoom_text:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -2px;
    border-top: 4px solid #41454b;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
}

.instrument_zoom_drop {
    display: none;
    position: absolute;
    top: 43px;
    left: 0;
    right: 0;
    text-align: center;
    min-width: 44px;
    padding: 5px;
    border: 1px solid #9b9c9d;
    border-radius: 4px;
    background: #fbfbfb;
    background: -moz-linear-gradient(top, #fbfbfb 0%, #dedede 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fbfbfb), color-stop(100%, #dedede));
    background: -webkit-linear-gradient(top, #fbfbfb 0%, #dedede 100%);
    background: -o-linear-gradient(top, #fbfbfb 0%, #dedede 100%);
    background: -ms-linear-gradient(top, #fbfbfb 0%, #dedede 100%);
    background: linear-gradient(to bottom, #fbfbfb 0%, #dedede 100%);
}

.instrument_zoom_drop:before {
    content: "";
    position: absolute;
    top: -5px;
    left: 50%;
    margin-left: -5px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #9b9c9d;
}

.instrument_zoom_drop:after {
    content: "";
    position: absolute;
    top: -4px;
    left: 50%;
    margin-left: -4px;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid #fbfbfb;
}

.open .instrument_zoom_drop {
    display: block;
}

.instrument_zoom_drop a {
    display: block;
    font-size: 12px;
    line-height: 20px;
    color: #000;
}

.instrument_zoom_drop a:hover {
    text-decoration: underline;
}

.instruments li.instrument_history a {
    border-radius: 0 4px 4px 0;
    margin-left: -1px;
    width: 29px;
}

.instruments li.instrument_history a:first-child {
    border-radius: 4px 0 0 4px;
}

.instrument_color {
    margin: 7px;
    border: 1px solid #fff;
    width: 22px;
    height: 22px;
    box-shadow: inset 3px 3px 0 rgba(0, 0, 0, 0.07);
}

/* ROOM HEADER END */

#room-controls {
    padding-top: 7px;
    float: left;
    font-size: 0;
}

.canvasWrapper {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    background: url(/images/room/new/site_bg.jpg);
}

.canvasInitDivWrapper {
    font-family: 'MyriadPro-Regular';
    width: 100%;
    height: 100%;
    padding: 50px 0 210px 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    background: url(/images/room/new/site_bg.jpg);
    background: -moz-radial-gradient(center, circle cover,  rgba(152, 157, 169, 0.9) 0%, rgba(152, 157, 169, 0) 98%), url(/images/room/new/site_bg.jpg); /* FF3.6+ */
    background: -webkit-radial-gradient(center, circle cover,  rgba(152, 157, 169, 0.9) 0%, rgba(152, 157, 169, 0) 98%), url(/images/room/new/site_bg.jpg); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, circle cover, rgba(152, 157, 169, 0.9) 0%, rgba(152, 157, 169, 0) 98%), url(/images/room/new/site_bg.jpg); /* Opera 12+ */
    background: -ms-radial-gradient(center, circle cover, rgba(152, 157, 169, 0.9) 0%, rgba(152, 157, 169, 0) 98%), url(/images/room/new/site_bg.jpg); /* IE10+ */
    background: radial-gradient(circle at center, rgba(152, 157, 169, 0.9) 0%, rgba(152, 157, 169, 0) 98%), url(/images/room/new/site_bg.jpg); /* W3C */
}

.canvasInitDiv {
    height: 385px;
    border-radius: 10px;
    box-shadow: black 0 0 15px;
    width: 400px;
    margin: 0px auto;
    background: white;
    border: 1px solid gray;
    padding: 20px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    background: white;
    text-align: center;
    position: relative;
}

.canvasInitDiv .progressWrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 120px;
}

.canvasInitDiv .progressWrap .progress {
    width: 300px;
    margin: 0 auto;
}

.cancelInit {
    float: right;
    font-size: 16px;
}

.canvasInitDiv .btn {
    margin-bottom: 15px;
    font-size: 22px;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    color: #404040;
}

.canvasInitHeader {
    font-size: 24px;
    margin-bottom: 12px;
    color: #505050;
}

.navbar .btn {
    margin-left: 4px;
    margin-right: 4px;
}

.skwibl_image_btn {
    padding: 0 !important;
    background: whiteSmoke;
}

.canvasPreviewDiv .clink:hover {
    border: 2px solid #88C433;
    box-shadow: 0 0 0 1px #88C433;
}

.canvasPreviewDiv {
    float: left;
    margin-right: 10px;
    position: relative;
}

.canvasPreviewDiv .clink {
    cursor: pointer;
    width: 80px;
    height: 60px;
    display: inline-block;
    background: white;
    border: 2px solid white;
    box-shadow: 0 0 0 1px transparent;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.canvasPreviewDiv.ui-sortable-placeholder {
    padding-right: 0;
}

.canvasSelected {
    border: 2px solid #88C433 !important;
    box-shadow: 0 0 0 1px #88C433 !important;
}

.canvasSelected:hover {
    cursor: default;
    border: 2px solid #88C433;
    box-shadow: 0 0 0 1px #88C433 !important;
}

.gallery_slide_close {
    position: absolute;
    top: -6px;
    right: -6px;
    background-image: url(/images/room/new/gallery_slide_close.png);
    background-repeat: no-repeat;
    background-position: 20px -20px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.canvasPreviewDiv:hover .gallery_slide_close {
    background-position: 50%;
}

.gallery_slide_controls_container {
    position: absolute;
    bottom: 3px;
    left: 2px;
    right: 2px;
    height: 20px;
    overflow: hidden;
}

.gallery_slide_controls {
    margin-top: 20px;
    height: 20px;
    background: url(/images/room/new/gallery_slide_controls_bg.png);
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.canvasPreviewDiv:hover .gallery_slide_controls {
    margin-top: 0;
}

.gallery_slide_save {
    float: left;
    width: 27px;
    height: 20px;
    background: url(/images/room/new/save_image.png) 50% no-repeat;
}

.gallery_slide_drag {
    float: right;
    width: 27px;
    height: 20px;
    background: url(/images/room/new/drag_image.png) 50% no-repeat;
}

.canvasFooter {
    bottom: 0;
    position: fixed;
    width: 100%;
    padding-left: 300px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    z-index: 10;
    height: 108px;
    text-shadow: 0 0 1px black;
    background: transparent;
}

.canvasFooterFolded {
    height: 37px;
}

.canvasFooterFolded #smallCanvasPreviews {
    left: 0;
}

.canvasFooterFolded #smallCanvasPreviewsWrap {
    position: relative;
}

.canvasFooterFolded #nameChanger {
    padding-left: 15px;
}

.canvasFooterInner {
    width: 100%;
}

.canvasFooterTop {
    height: 29px;
    background: url(/images/room/new/gallery_bar_bg.png);
    padding: 3px 10px;
    box-shadow: inset 0 -3px 3px rgba(0, 0, 0, 0.15);
    color: #fff;
}

.canvasFooterBottom {
    padding: 0 10px;
    position: relative;
    height: 75px;
    background: rgba(0, 0, 0, 0.25);
}

.canvasSelectDiv {
    height: 75px !important;
    padding: 5px 0;
}

.gallery_l {
    position: relative;
    float: left;
    width: 16px;
    height: 62px;
    margin-top: 5px;
    margin-right: 5px;
    background: url(/images/room/new/gallery_l.png) 50% no-repeat;
    border: 1px solid transparent;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.gallery_r {
    position: absolute;
    right: 5px;
    top: 0;
    float: right;
    width: 16px;
    height: 62px;
    margin-top: 5px;
    background: url(/images/room/new/gallery_r.png) 50% no-repeat;
    border: 1px solid transparent;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.gallery_l:hover, .gallery_r:hover {
    border: 1px solid #fff;
}

body.room {
    overflow: hidden;
}

.room-content {
    height: 100%;
    position: relative;
}

.comment-maximized {
    position: absolute;
    width: 250px;
    box-shadow: #e3e3e3 0 0 3px;
    background: #fefefe;
    border: 1px solid #c2e1f5;
    border-radius: 3px;
    z-index: 2;
}

.comment-minimized {
    position: absolute;
    width: 25px;
    height: 25px;
    background: #fafafa;
    border-radius: 50%;
    z-index: 1;
    border: 1px solid black;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
}

.comment-minimized img {
    display: none;
}

.comment-remove {
    background: url("/images/room/remove.png");
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-top: 2px;
    cursor: pointer !important;
}

.comment-minimize {
    background: url("/images/room/minimize.png");
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-top: 2px;
    cursor: pointer !important;
}

.comment-min-rect {
    width: 0;
    height: 0;
}

.comment-heading {
    padding-bottom: 2px;
}

.comment-show-comments {
    width: 100%;
    padding: 10px 0;
    cursor: pointer;
    text-align: center;
    background: rgba(194, 225, 245, 0.5);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.comment-show-comments:hover {
    background: rgba(194, 225, 245, 1);
}

.comment-avatar {
    float: left;
    margin-right: 5px;
}

.comment-header {
    height: 20px;
    border-bottom: 2px solid #e3e3e3;
}

.comment-content-actions {
    padding: 0 5px 10px 5px;
}

.comment-content-inner {
    max-height: 320px;
    overflow: auto;
}

.comment-text {
    position: relative;
    overflow: hidden;
    padding: 8px 10px;
    border-bottom: 1px solid #e3e3e3;
    color: #202020;
    font-size: 11px;
    padding-bottom: 3px;
}

.comment-text .comment-ribbon-wrapper {
    display: none;
}

.comment-text.todo .comment-ribbon-wrapper {
    display: block;
}

#todo-tab-inner .comment-ribbon-wrapper {
    display: none !important;
}

.the-comment-text {
    line-height: 14px;
}

.comment-author {
    font-size: 11px;
    font-weight: bold;
    color: #505050;
}

.comment-actions {
    font-size: 11px;
}

.comment-time {
    font-size: 10px;
    color: gray;
    margin-top: -5px;
}

.comment-reply {
    margin-top: 10px;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 40px;
    font-size: 11px;
}

.comment-send {
    margin-bottom: 10px;
}

.openTab {
    float: left;
    padding: 9px 14px;
    width: 105px;
    font: bold 14px Sans-Serif;
    text-align: center;
    color: white;
    cursor: pointer;
    border-radius: 2px;
    background-color: #08C;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#08C), to(#05C));
    background-image: -webkit-linear-gradient(top, #08C, #05C);
    background-image: -moz-linear-gradient(top, #08C, #05C);
    background-image: -ms-linear-gradient(top, #08C, #05C);
    background-image: -o-linear-gradient(top, #08C, #05C);
    text-shadow: rgba(0, 0, 0, 0.5) 0px 1px 0px;
}

.resolvedTab {
    margin-left: 12px;
    float: left;
    padding: 9px 14px;
    width: 105px;
    text-align: center;
    color: #6a6340;
    font: bold 14px Sans-Serif;
    text-shadow: rgba(255, 255, 255, 0.5) 0 1px 0;
    border-radius: 2px;
    cursor: pointer;
    background: #BFDC7A;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45));
    background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45);
    background-image: -moz-linear-gradient(top, #BFDC7A, #8EBF45);
    background-image: -ms-linear-gradient(top, #BFDC7A, #8EBF45);
    background-image: -o-linear-gradient(top, #BFDC7A, #8EBF45);
}

.openList {
    padding-top: 10px;
    clear: both;
}

.resolvedList {
    padding-top: 10px;
    display: none;
    clear: both;
}

.header-foldable {
    display: inline-block;
    float: left;
    padding-top: 7px;
    padding-bottom: 8px;
    width: 295px;
    overflow: visible !important;
    height: 55px;
    box-sizing: border-box;
}

.header-foldable > span {
    padding-right: 5px;
}

.projectHeader {
    height: 30px;
    line-height: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 13px;
    background: #ece2d9;
    padding: 0 10px;
}

.projectHeader span {
    display: inline-block;
    font-size: 0;
    line-height: 0;
    margin-top: 7px;
    vertical-align: top;
    margin-right: 10px;
}

.chatFilters {
    padding: 7px 4px 0 5px;
}

.gecko .chatFilters .btn {
    padding: 5px 0 7px 0;
}

.chatFilters {
    margin-bottom: 5px;
}

.chatFilters .btn {
    font-family: 'MyriadPro-SemiBold';
    margin-left: 0 !important;
    font-size: 14px;
    padding: 6px 0;
    width: 91px;
    box-shadow: none;
    border: 1px solid #c5c5c5;
    margin-right: 5px;
}

.chatFilters .btn.active {
    background-color: #88C433;
    color: white;
    text-shadow: -1px -1px rgba(0, 0, 0, 0.38);
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.chatFilters .btn {
    border-radius: 4px;
}

.chatFilters .btn:first-child {

}

.chatFilters .btn:last-child {
    margin-right: 0;
}

.chat {
    width: 300px;
    left: 0;
    height: 100%;
    margin: 0;
    background: #F6F1ED;
    border-right: 1px solid #b1b1b1;
    box-shadow: gray 1px 3px 5px;
    position: fixed;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    z-index: 199;
}

.chatFolded {
    left: -305px;
}

.chatFoldedHeader {

}

.chatFoldedPreviews {
    padding-left: 0;
}

.chatInner {
    padding: 0 5px 10px 5px;
    width: 300px;
    height: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.tab-content {
    height: 100%;
}

#todo-tab.filter-box {
    margin-bottom: -205px;
    padding-bottom: 205px;
}

#changelog-tab-inner {
    background: transparent;
    border: none;
}

#changelog-tab.filter-box {
    margin-bottom: -200px;
    padding-bottom: 200px;
}

#changelog-tab .datetext {
    color: #909090;
    font-weight: normal;
    font-size: 10px;
    margin-left: 5px;
}

.changelog-entry {
    margin-bottom: 5px;
}

.changelog-header-wrap:first-child {
    margin-top: 0;
}

.changelog-header-wrap {
    margin-bottom: 2px;
    margin-top: 5px;
}

.changelog-header {
    font-size: 14px;
    font-family: 'MyriadPro-SemiBold';
}

.changelog-image {
    margin-left: 5px;
}

.changelog-header-wrap .datetext {
    margin-left: 3px;
}

#changelog-tab .image {
    float: left;
    margin-right: 3px;
}

#changelog-tab .changelog-inner {
    line-height: 14px;
}

#changelog-tab .changelog-inner-change {
    font-size: 11px;
    color: #606060;
    line-height: 11px;
}

.chat-message {
    margin-bottom: 7px;
    line-height: 14px;
}

.timeRangeHeader {
    background: rgba(225, 225, 225, 0.5);
    text-align: center;
    padding: 2px 0;
    margin-bottom: 7px;
}

.earlierMessagesHeader {
    color: #808080;
    font-size: 14px;
    text-align: center;
}

.earlierMessagesDiv {
    text-align: center;
}

.chat-message .message {
    vertical-align: top;
}

.chat-message .message-left-part {
    float: left;
    width: 230px;
}

.chat-message .timestamp {
    float: right;
    margin-left: 2px;
    font-size: 10px;
    color: #808080;
}

.chat-message .image {
    float: left;
    margin-right: 3px;
}

#conversation-inner {
    color: #202020;
    font-family: 'MyriadPro-Regular', sans-serif;
}

#conversation-inner b {
    font-size: 12px;
}

#conversation-inner i {
    font-size: 12px;
}

.chat .conversation-controls {
    height: 300px;
    position: relative;
    z-index: 2;
}

.chat .conversation-controls textarea {
    border: 1px solid #c5c5c5;
    box-shadow: none;
    border-radius: 0;
}

.chat .filter-box {
    height: 100%;
    margin-bottom: -370px;
    position: relative;
    z-index: 1;
    padding-bottom: 380px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.chat .filter-box-inner {
    height: 100%;
    background: white;
    border: 1px solid #c5c5c5;
    overflow: auto;
    padding: 5px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.chattext {
    width: 100%;
    height: 120px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.project_participants_head {
    font-size: 12px;
    padding: 0 10px;
    margin-bottom: 10px;
    margin-top: 5px;
}

.project_participants_slider {
    padding: 0;
    margin-bottom: 2px;
    position: relative;
    margin-left: 3px;
    margin-right: 3px;
    height: 45px;
    overflow: hidden;
}

.chatUser {
    float: left;
    width: 40px;
    height: 40px;
    margin: 0 6px;
}

.project_participants_slider_l {
    position: absolute;
    height: 40px;
    top: 0;
    bottom: 0;
    left: 0;
    width: 15px;
    background: url(/images/room/new/project_participants_slider_l.png) 50% no-repeat;
}

.project_participants_slider_r {
    position: absolute;
    height: 40px;
    top: 0;
    bottom: 0;
    right: 0;
    width: 15px;
    background: url(/images/room/new/project_participants_slider_r.png) 50% no-repeat;
}

.participants .userAvatar {
    display: inline-block;
    margin-left: 10px;
}

.participants .chatUser:first-child .userAvatar {
    margin-left: 0;
}

.participants .chatUser:first-child .chatUserStatus {
    left: 42px;
    top: 42px;
}

.chatUserStatus {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: gray;
    border: 1px solid #404040;
    position: relative;
    top: -5px;
    left: 36px;
    float: left;
}

.chatUserOffline {
    background-color: red;
}

.chatUserOnline {
    background-color: green;
}

.canvasNameInput {
    font-size: 16px !important;
    background: url(/images/room/new/gallery_head_bg.png) !important;
    box-shadow: inset 2px 0 0 rgba(0, 0, 0, 0.75) !important;
    border: none !important;
    color: white !important;
    border-radius: 0 !important;
    float: left;
}

.canvasNameInput:focus {
    border: none !important;
    box-shadow: inset 2px 0 0 rgba(0, 0, 0, 0.75) !important;
}

.canvasNameSave {
    margin-bottom: 9px;
}

.noname {
    color: #a0a0a0;
}

.canvasName {
    vertical-align: top;
    cursor: pointer;
    font-size: 16px;
    line-height: 28px;
}

#nameChanger {
    position: relative;
    left: 0;
    float: left;
    z-index: 1;
    top: 1px;
}

#nameChanger > * {
    margin-bottom: 0 !important;
}

#smallCanvasPreviews {
    float: left;
    left: -500px;
    margin-left: 10px;
    position: relative;
    top: -2px;
}

#smallCanvasPreviewsWrap {
    position: absolute;
}

.smallCanvasPreview {
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    width: 12px;
    height: 12px;
    margin: 10px 5px 10px 0;
    border: 1px solid #808080;
    float: left;
}

.smallCanvasPreview.previewSelected {
    border: 1px solid #ff4500 !important;
}

.gallery_bar_right {
    float: right;
}

.createNewCanvasLink img {
    margin: 4px 2px 0 0;
}

.gallery_bar_right a {
    display: inline-block;
    margin-left: 15px;
    color: white;
}

.gallery_bar_right a:hover {
    text-decoration: none;
}

.gallery_bar_right a span {
    display: inline-block;
    font-size: 14px;
    line-height: 28px;
    vertical-align: top;
}

.canvasFolder {
    cursor: pointer;
    margin-top: 6px;
    margin-left: 15px;
}

.canvasFolderTrans {
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
}

.userBadge {
    background: white;
    position: absolute;
    padding: 4px;
    line-height: 12px;
    border-radius: 4px;
    font-size: 12px;
    box-shadow: 1px 1px 2px #A0A0A0;
    z-index: 99;
}

.number_of_unread_messages {
    position: absolute;
    top: 3px;
    right: 7px;
    width: 20px;
    text-align: center;
    font-size: 10px;
    line-height: 14px;
    font-family: Tahoma, Geneva, sans-serif;
    color: #fff;
    text-shadow: 0 0 1px black;
    display: none;
}

.fileinput-button {
    position: relative;
}

.fileinput-button input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    width: 100%;
    filter: alpha(opacity = 0);
    font-size: 23px;
    height: 34px;
    direction: ltr;
    cursor: pointer;
}

[class^="icon-"],
[class*=" icon-"] {
    background-image: url("/images/glyphicons-halflings.png");
}

.icon-white {
    background-image: url("/images/glyphicons-halflings-white.png");
}

/* COMMENT RIBBONS */

.comment-ribbon-wrapper {
    width: 85px;
    height: 85px;
    overflow: hidden;
    position: absolute;
    top: -10px;
    right: -10px;
}

.comment-ribbon {
    font: bold 11px Sans-Serif;
    color: #6a6340;
    text-align: center;
    text-shadow: rgba(255, 255, 255, 0.5) 0px 1px 0px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    position: relative;
    padding: 4px 0;
    left: -7px;
    top: 22px;
    width: 120px;
    -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
}

.comment-ribbon-green {
    background-color: #BFDC7A;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45));
    background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45);
    background-image: -moz-linear-gradient(top, #BFDC7A, #8EBF45);
    background-image: -ms-linear-gradient(top, #BFDC7A, #8EBF45);
    background-image: -o-linear-gradient(top, #BFDC7A, #8EBF45);
}

.comment-ribbon-blue {
    background-color: #08C;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#08C), to(#05C));
    background-image: -webkit-linear-gradient(top, #08C, #05C);
    background-image: -moz-linear-gradient(top, #08C, #05C);
    background-image: -ms-linear-gradient(top, #08C, #05C);
    background-image: -o-linear-gradient(top, #08C, #05C);
    color: #fff;
    text-shadow: rgba(0, 0, 0, 0.5) 0px 1px 0px;
}

/* COMMENT RIBBONS END */

/* LABELS */

span.label-1, span.labelstyle-02e10c, .labelstyle-02e10c.selected {
    background: #02e81d !important;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType = 0, startColorstr = '#02e81d', endColorstr = '#08d901') !important;
    background: -webkit-gradient(linear, left top, left bottom, from(#02e81d), to(#08d901)) !important;
    background: -moz-linear-gradient(top, #02e81d, #08d901) !important;
    color: #006605 !important;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
}

span.label-2, span.labelstyle-d7e102, .labelstyle-d7e102.selected {
    background: #d5e802 !important;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType = 0, startColorstr = '#d5e802', endColorstr = '#d8d901') !important;
    background: -webkit-gradient(linear, left top, left bottom, from(#d5e802), to(#d8d901)) !important;
    background: -moz-linear-gradient(top, #d5e802, #d8d901) !important;
    color: #616600 !important;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
}

span.label-3, span.labelstyle-02d7e1, .labelstyle-02d7e1.selected {
    background: #02c4e8 !important;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType = 0, startColorstr = '#02c4e8', endColorstr = '#01d9ca') !important;
    background: -webkit-gradient(linear, left top, left bottom, from(#02c4e8), to(#01d9ca)) !important;
    background: -moz-linear-gradient(top, #02c4e8, #01d9ca) !important;
    color: #006166 !important;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
}

span.label-4, span.labelstyle-444444, .labelstyle-444444.selected {
    background: #727272 !important;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType = 0, startColorstr = '#727272', endColorstr = '#151313') !important;
    background: -webkit-gradient(linear, left top, left bottom, from(#727272), to(#151313)) !important;
    background: -moz-linear-gradient(top, #727272, #151313) !important;
    color: #FFFFFF !important;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.2);
}

span.label-5, span.labelstyle-e10c02, .labelstyle-e10c02.selected {
    background: #e80c02 !important;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType = 0, startColorstr = '#e80c02', endColorstr = '#d90b01') !important;
    background: -webkit-gradient(linear, left top, left bottom, from(#e80c02), to(#d90b01)) !important;
    background: -moz-linear-gradient(top, #e80c02, #d90b01) !important;
    color: #FFFFFF !important;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.2);
}

span.label-6, span.labelstyle-e102d8, .labelstyle-e102d8.selected {
    background: #e802b4 !important;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType = 0, startColorstr = '#e802b4', endColorstr = '#b901d9') !important;
    background: -webkit-gradient(linear, left top, left bottom, from(#e802b4), to(#b901d9)) !important;
    background: -moz-linear-gradient(top, #e802b4, #b901d9) !important;
    color: #FFFFFF !important;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.2);
}

span.label-7, span.labelstyle-0b02e1, .labelstyle-0b02e1.selected {
    background: #2d02e8 !important;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType = 0, startColorstr = '#2d02e8', endColorstr = '#0119d9') !important;
    background: -webkit-gradient(linear, left top, left bottom, from(#2d02e8), to(#0119d9)) !important;
    background: -moz-linear-gradient(top, #2d02e8, #0119d9) !important;
    color: #FFFFFF !important;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.2);
}

span.label-8, span.labelstyle-DDDDDD, .labelstyle-DDDDDD.selected {
    background: #e5e5e5 !important;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType = 0, startColorstr = '#e5e5e5', endColorstr = '#d4c7c7') !important;
    background: -webkit-gradient(linear, left top, left bottom, from(#e5e5e5), to(#d4c7c7)) !important;
    background: -moz-linear-gradient(top, #e5e5e5, #d4c7c7) !important;
    color: #666666 !important;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
}

span.label-9, span.labelstyle-ffcc00, ffcc00.selected {
    background: #FFD300 !important;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType = 0, startColorstr = '#ffd300', endColorstr = '#ffc400') !important;
    background: -webkit-gradient(linear, left top, left bottom, from(#FFD300), to(#FFC400)) !important;
    background: -moz-linear-gradient(top, #FFD300, #FFC400) !important;
    color: #665100 !important;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
}

/* LABELS END */

/* SKWIBL CAROUSEL START */

.skwibl-carousel {
    text-align: left;
    float: none;
    position: absolute;
    top: 0;
    right: auto;
    bottom: auto;
    left: 0;
    margin: 0;
}

.skwibl-carousel-wrap {
    display: block;
    text-align: start;
    float: none;
    position: absolute;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    z-index: auto;
    margin: 0;
    overflow: hidden;
}

.skwibl-carousel-l {
    cursor: pointer;
}

.skwibl-carousel-r {
    cursor: pointer;
}

/* SKWIBL CAROUSEL END */
