<html>
  <head></head>
  <body>
    Welcome to Skwibl!<br><br>
    You are successfuly registred at <a href="<%= domain %>">Skwibl</a> with <%= provider %>.<br><br>
    Your account information: <br>
    login: <%= email %><br>
    password: <%= password %>
  </body>
</html>