body.room {
    padding-top: 45px;
}

#room-controls {
    padding-top: 1px;
    float: left;
}

.color {
    cursor: pointer;
    display: inline-block;
    height: 20px;
    margin: 10px 2px 0 0;
    width: 20px;
    border: 1px solid #b2b2b2;
}

.colorSelected {
    margin: 0;
    height: 18px;
    width: 18px;
    vertical-align: top;
}

.colorDropdown {
    padding: 3px !important;
}

.additionalInsDropdown {
    padding: 0 3px !important;
}

.additionalInsDropdown .caret {
    margin-top: 10px;
}

#additionalInsSelect {
    min-width: 145px;
    padding: 0 5px;
}

.activen {
    border: 1px solid orange;
    box-shadow: orange 0 0 5px;
}

.activeMenu li {
    font-size: 16px;
    padding: 7px;
    color: #404040;
    cursor: pointer;
}

.activeMenu li.disabled {
    color: #b2b2b2;
    text-shadow: #808080 0 0 1px;
}

.activeMenu li:hover {
    background-color: #87ceeb;
}

.activeMenu li.disabled:hover {
    background-color: transparent;
}

.skwibl-btn-group {
    display: inline-block;
}

.skwibl-btn-group .btn:first-child {
    margin-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.skwibl-btn-group .btn:last-child {
    margin-left: -4px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.navbar .btn {
    margin-left: 2px;
    margin-right: 2px;
}

.skwibl_image_btn {
    padding: 0 !important;
    background: whiteSmoke;
}

#colorSelect {
    width: 250px;
    text-align: center;
}

.canvasSelectDiv a {
    width: 80px;
    height: 60px;
    display: inline-block;
    border: 1px solid gray;
}

.canvasSelectDiv a:hover {
    box-shadow: #ff4500 0 0 3px;
}

.canvasSelected {
    color: black;
    box-shadow: #ff4500 0 0 3px;
}

.canvasSelected:hover {
    cursor: default;
    text-decoration: none;
    box-shadow: #ff4500 0 0 5px;
}

.canvasFooter {
    bottom: 0;
    position: fixed;
    width: 100%;
    padding-left: 300px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-top: 1px solid #a1a1a1;
    background: white;
    z-index: 10;
}

.canvasFooterInner {
    width: 100%;
}

.canvasFooterTop {
    height: 29px;
    background: #f1f1f1;
    padding: 3px 10px;
    box-shadow: 0 1px 3px #a5a5a5;
}

.canvasFooterBottom {
    padding: 5px 10px;
    height: 63px;
}

body.room {
    overflow: hidden;
}

.room-content {
    height: 100%;
    position: relative;
}

.comment-maximized {
    position: absolute;
    width: 250px;
    box-shadow: #e3e3e3 0 0 3px;
    background: #fefefe;
    border: 1px solid #c2e1f5;
    border-radius: 3px;
    z-index: 2;
}

.comment-minimized {
    position: absolute;
    width: 25px;
    height: 25px;
    background: url("/images/comment-small.png");
    z-index: 1;
}

.comment-remove {
    background: url("/images/remove.png");
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-top: 2px;
    cursor: pointer !important;
}

.comment-minimize {
    background: url("/images/minimize.png");
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-top: 2px;
    cursor: pointer !important;
}

.comment-min-rect {
    width: 0;
    height: 0;
}

.comment-heading {
    padding-bottom: 2px;
}

.comment-show-comments {
    width: 100%;
    padding: 10px 0;
    cursor: pointer;
    text-align: center;
    background: rgba(194, 225, 245, 0.5);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.comment-show-comments:hover {
    background: rgba(194, 225, 245, 1);
}

.comment-avatar {
    float: left;
    margin-right: 5px;
}

.comment-header {
    height: 20px;
    border-bottom: 2px solid #e3e3e3;
}

.comment-content-actions {
    padding: 0 10px 10px 10px;
}

.comment-content-inner {
    max-height: 320px;
    overflow: auto;
}

.comment-text {
    padding: 8px 10px;
    border-bottom: 1px solid #e3e3e3;
    color: #202020;
    font-size: 11px;
    padding-bottom: 3px;
}

.comment-text.todo {
    background: #f5f5f5;
    font-size: 12px;
}

.comment-text.todo.resolved {
    background: #f5fff5;
}

.the-comment-text {
    line-height: 14px;
}

.comment-author {
    font-size: 11px;
    font-weight: bold;
    color: #505050;
}

.comment-actions {
    font-size: 11px;
}

.comment-time {
    font-size: 10px;
    color: gray;
    margin-top: -5px;
}

.comment-reply {
    margin-top: 10px;
    width: 220px;
    height: 40px;
    font-size: 11px;
}

.comment-send {
    margin-bottom: 10px;
}

.openTab {
    float: left;
    padding: 5px 10px;
    background: #A0A0A0;
    width: 105px;
    font-size: 14px;
    text-align: center;
    color: white;
    cursor: pointer;
}

.resolvedTab {
    margin-left: 15px;
    float: left;
    padding: 5px 10px;
    background: #A9E9A9;
    width: 105px;
    font-size: 14px;
    text-align: center;
    color: black;
    cursor: pointer;
}

.openList {
    padding-top: 10px;
    clear: both;
}

.resolvedList {
    padding-top: 10px;
    display: none;
    clear: both;
}

.header-foldable {
    display: inline-block;
    float: left;
    padding-top: 3px;
    padding-bottom: 8px;
    width: 279px;
}

.header-foldable > span {
    padding-right: 5px;
}

.projectHeader {
    background: #a0a0a0;
    color: white;
    padding: 3px 10px;
    font-size: 14px;
    text-shadow: 1px 1px 0 #808080;
}

.chatFilters {
    padding: 7px 10px 0 10px;
}

.chatFilters .btn {
    margin-left: 0 !important;
}

.chat {
    width: 300px;
    left: 0;
    height: 100%;
    margin: 0;
    background: #f1f1f1;
    border-right: 1px solid #b1b1b1;
    box-shadow: gray 1px 3px 5px;
    position: fixed;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    z-index: 199;
}

.chatInner {
    padding: 10px;
    width: 300px;
    height: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.chat .conversation-controls {
    height: 300px;
    position: relative;
    z-index: 2;
}

.chat .conversation {
    height: 100%;
    margin-bottom: -330px;
    position: relative;
    z-index: 1;
    padding-bottom: 340px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.chat .conversation-inner {
    height: 100%;
    background: white;
    border: 1px solid #e1e1e1;
    overflow: auto;
    padding: 5px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.chattext {
    width: 100%;
    height: 120px;
    box-sizing: border-box;
}

.participants {
    background: #fff;
    padding: 5px;
    border: 1px solid #e1e1e1;
    margin-bottom: 5px;
    height: 48px;
}

.chatUserStatus {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    background-color: gray;
    left: 52px;
    top: 42px;
    border: 1px solid #404040;
}

.chatUser {
    position: relative;
    float: left;
}

.chatUserOffline {
    background-color: red;
}

.chatUserOnline {
    background-color: green;
}

.participants .userAvatar {
    display: inline-block;
    margin-left: 10px;
}

.canvasNameInput {
    font-size: 16px !important;
}

.canvasNameSave {
    margin-bottom: 9px;
}

.canvasName {
    vertical-align: top;
    cursor: pointer;
    font-size: 16px;
    line-height: 28px;
}

#nameChanger {
    position: relative;
    left: 0;
    float:left;
}

#smallCanvasPreviews {
    float:left;
    left: -500px;
    position: relative;
    margin-left: 10px;
}

.smallCanvasPreview {
    border-radius: 50%;
    background: #b0b0b0;
    cursor: pointer;
    width: 12px;
    height: 12px;
    margin: 10px 5px 10px 0;
    border: 1px solid #808080;
    float: left;
}

.smallCanvasPreview.previewSelected {
    border: 1px solid #ff4500 !important;
}

.canvasFolder {
    right: 25px;
    bottom: 153px;
    position: absolute;
    z-index: 19;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: none;
}

.canvasFolderDown img {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
}