.sidebar-nav {
    padding: 9px 0;
}

.small {
    font-size: 11px;
}

.normal {
    font-size: 12px !important;
}

.slarge {
    font-size: 13px;
}

.large {
    font-size: 14px;
}

.xlarge {
    font-size: 15px;
}

.clear {
    clear: both;
    font-size: 0px;
    overflow: hidden;
    height: 0px;
    display: block;
}

.clear1 {
    clear: both;
    font-size: 0px;
    overflow: hidden;
    height: 1px;
    display: block;
}

.clear_small2 {
    clear: both;
    font-size: 1px;
    height: 2px;
    display: block;
}

.clear_small {
    clear: both;
    font-size: 1px;
    height: 5px;
    display: block;
}

.clear_medium {
    clear: both;
    font-size: 1px;
    height: 10px;
    display: block;
}

.clear_big {
    clear: both;
    font-size: 1px;
    height: 15px;
    display: block;
}

.mrl_small {
    margin-left: 5px;
}

.mrl {
    margin-left: 10px !important;
}

.mrl_big {
    margin-left: 15px;
}

.mrl_vbig {
    margin-left: 20px !important;
}

.mrl_xbig {
    margin-left: 30px !important;
}

.mrt_small {
    margin-right: 5px;
}

.mrt {
    margin-right: 10px !important;
}

.mrt_big {
    margin-right: 15px;
}

.mrt_vbig {
    margin-right: 20px;
}

.padl_small {
    padding-left: 5px;
}

.padl {
    padding-left: 10px !important;
}

.padl_big {
    padding-left: 15px;
}

.padl_vbig {
    padding-left: 20px !important;
}

.padl_xbig {
    padding-left: 30px;
}

.padr_small {
    padding-right: 5px;
}

.padr {
    padding-right: 10px;
}

.padr_big {
    padding-right: 15px;
}

.padr_vbig {
    padding-right: 20px;
}

.padr_vvbig {
    padding-right: 25px;
}

.padr_xbig {
    padding-right: 30px;
}

.martop_small {
    margin-top: 5px;
}

.martop {
    margin-top: 10px;
}

.martop_big {
    margin-top: 15px;
}

.text_left {
    text-align: left !important;
}

.text_center {
    text-align: center;
}

.text_right {
    text-align: right !important;
}

.vtop {
    vertical-align: top;
}

.vmid {
    vertical-align: middle !important;
}

.tup {
    text-transform: uppercase;
}

.notup {
    text-transform: none !important;
}

.pr {
    position: relative;
}

.pa {
    position: absolute;
}

.dp {
    display: block;
}

.black {
    color: #000;
}

a.black:hover {
    color: #ff0084;
}

.roz {
    color: #ff0084;
}

.gray {
    color: #766e6c;
}

.gray2 {
    color: #918b8d;
}

.white {
    color: #fff;
}

.rightcol {
    background-color: #ccc;
    position: fixed;
    right: 0px;
    top: 41px;
    width: 300px;
    height: 100%;
}

.page {
    width: 980px;
    margin-left: 100px;
}

.line, .shape {
    cursor: pointer;
}
