<canvas width="1000" height="500" style="border:1px solid black;" id="myCanvas"></canvas>

<div style="cursor:pointer;" id="hidefile-uploader">
	<div id="file-uploader" class="btn"></div>
	<div class="clear_medium"></div>
</div>
<div id="curavatardiv"></div>
<img id="removeButton" src="/images/remove.png" style="display: none;"/>
