<canvas id="myCanvas" resize="true"></canvas>

<div class="canvasFooter">
  <div class="canvasFooterTop">
    <div id="file-uploader" class="canvasUpload" style="float: right;"></div>
  </div>
  <div class="canvasFooterBottom">
    <div id="canvasSelectDiv" class="canvasSelectDiv">
      <a href="#" class="canvasSelected"></a>
    </div>
  </div>
</div>
