body {
    padding-top: 40px;
    padding-bottom: 40px;
}

/* MISC START */

.fr {
    float: right;
}

.fl {
    float: left;
}

/* MISC END */

.jp-play-bar {
    overflow: visible !important;
}

.jp-bookmark {
    position: absolute;
    width: 10px;
    height: 14px;
    background: #87ceeb;
}

.hide {
    display: none;
}

.loginBlock {
    background: white;
    z-index: 9999;
    padding: 25px 10px 10px 10px;
    border-radius: 4px;
    box-shadow: #404040 0 0 20px;
}

.loginFields {
    margin-top: 10px;
}

.loginFields input {
    margin-bottom: 5px;
    border: 1px solid gray;
    box-shadow: none;
    border-radius: 0;
}

/* ROOM STYLES START */

.color {
    cursor: pointer;
    display: inline-block;
    height: 20px;
    margin: 10px 2px 0 0;
    width: 20px;
    border: 1px solid #b2b2b2;
}

.activen {
    border: 1px solid orange;
    box-shadow: orange 0 0 5px;
}

.activeMenu li {
    font-size: 16px;
    padding: 7px;
    color: #404040;
    cursor: pointer;
}

.activeMenu li.disabled {
    color: #b2b2b2;
    text-shadow: #808080 0 0 1px;
}

.activeMenu li:hover {
    background-color: #87ceeb;
}

.activeMenu li.disabled:hover {
    background-color: transparent;
}

.skwibl-btn-group {
    float: left;
    position: relative;
}

#colorSelect {
    width: 250px;
    text-align: center;
}

.canvasUpload {
    color: blue;
    text-decoration: underline;
}

.canvasSelectDiv a {
    width: 45px;
    height: 45px;
    display: inline-block;
    border: 1px solid gray;
}

.canvasSelectDiv a:hover {
    box-shadow: #ff4500 0 0 3px;
}

.canvasSelected {
    color: black;
    box-shadow: #ff4500 0 0 3px;
}

.canvasSelected:hover {
    cursor: default;
    text-decoration: none;
    box-shadow: #ff4500 0 0 5px;
}

.canvasFooter {
    bottom: 0;
    position: fixed;
    width: 100%;
    border-top: 1px solid #a1a1a1;
    background: white;
    z-index: 10;
}

.canvasFooterTop {
    height: 20px;
    background: #e3e3e3;
    padding: 5px 10px;
}

.canvasFooterBottom {
    padding: 5px 10px;
    height: 50px;
}

body.room {
    overflow: hidden;
}

.room-content {
    position: relative;
}

.comment-maximized {
    position: absolute;
    width: 190px;
    box-shadow: #e3e3e3 0 0 3px;
    background: #fcfcfc;
    border: 1px solid #c2e1f5;
    border-radius: 3px;
    z-index: 2;
}

.comment-minimized {
    position: absolute;
    width: 25px;
    height: 25px;
    background: url("/images/comment-small.png");
    z-index: 1;
}

.comment-remove {
    background: url("/images/remove.png");
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-top: 2px;
    cursor: pointer !important;
}

.comment-minimize {
    background: url("/images/minimize.png");
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-top: 2px;
    cursor: pointer !important;
}

.comment-min-rect {
    width: 0;
    height: 0;
}

.comment-header {
    height: 20px;
    border-bottom: 2px solid #e3e3e3;
}

.comment-content {
    padding: 10px;
}

.comment-content .comment-text:last-child {
    margin-bottom: 5px;
}

.comment-reply {
    width: 160px;
    height: 40px;
}

.comment-send {
    margin-bottom: 10px;
}


/* ROOM STYLES END */