<h1 class="mrl fl mrt">Files</h1>
<a class="mrl_small btn btn-primary btn-large" >Download new documents</a>
<div class="clear_medium"></div><div class="clear_medium"></div>

<div class="mrl tab-content">

	<div class="fl mrt " style="background-color:yellow;width:90px;">

		<a href="">
			<img src="/public/images/pdf.jpg" width="50"><br>
			Document pdf (21.04.2012)

		</a>
	</div>

	<div class="fl mrt " style="background-color:yellow;width:90px;">
		<a href="">
			<img src="/public/images/doc.jpg" width="50"><br>
			Document pdf (21.04.2012)
		</a>
	</div>

	<div class="fl mrt " style="background-color:yellow;width:90px;">
		<a href="">
			<img src="/public/images/excel.png" width="50"><br>
			Document pdf (21.04.2012)
		</a>
	</div>

	<div class="fl mrt " style="width:90px;">
		<a href="">
			<img src="/public/images/pdf.jpg" width="50"><br>
			Document pdf (21.04.2012)
		</a>
	</div>

	<div class="fl mrt " style="width:90px;">
		<a href="">
			<img src="/public/images/doc.jpg" width="50"><br>
			Document pdf (21.04.2012)
		</a>
	</div>

	<div class="fl mrt " style="width:90px;">
		<a href="">
			<img src="/public/images/excel.png" width="50"><br>
			Document pdf (21.04.2012)
		</a>
	</div>

	<div class="clear_medium"></div><div class="clear_medium"></div>

	<div class="fl mrt " style="width:90px;">
		<a href="">
			<img src="/public/images/pdf.jpg" width="50"><br>
			Document pdf (21.04.2012)
		</a>
	</div>

	<div class="fl mrt " style="width:90px;">
		<a href="">
			<img src="/public/images/doc.jpg" width="50"><br>
			Document pdf (21.04.2012)
		</a>
	</div>



	<div class="fl mrt " style="width:90px;">
		<a href="">
			<img src="/public/images/excel.png" width="50"><br>
			Document pdf (21.04.2012)
		</a>
	</div>

	<div class="fl mrt " style="width:90px;">
		<a href="">
			<img src="/public/images/pdf.jpg" width="50"><br>
			Document pdf (21.04.2012)
		</a>
	</div>

	<div class="fl mrt " style="width:90px;">
		<a href="">
			<img src="/public/images/doc.jpg" width="50"><br>
			Document pdf (21.04.2012)
		</a>
	</div>

	<div class="fl mrt " style="width:90px;">
		<a href="">
			<img src="/public/images/excel.png" width="50"><br>
			Document pdf (21.04.2012)
		</a>
	</div>

</div>
<div class="clear_medium"></div>