<h2 style="margin-left:150px;">Edit user information</h2>
<div class="clear_medium"></div><div class="clear_medium"></div>
<form id="form_register" class="form-horizontal">
	<fieldset>
		<div class="control-group">
			<label class="control-label" for="name">Name</label>
			<div class="controls">
				<input type="text" class="input-xlarge" name="name" id="name">
			</div>
			
			<div class="clear_medium"></div>
			<label class="control-label" for="lastname">Lastname</label>
			<div class="controls">
				<input type="text" class="input-xlarge" name="lastname" id="lastname">
			</div>
			
			<div class="clear_medium"></div>
			<label class="control-label" for="patronymic">Patronymic</label>
			<div class="controls">
				<input type="text" class="input-xlarge" name="patronymic" id="patronymic">
			</div>
			
			<div class="control-group">
				<label for="fileInput" class="control-label">Avatarka</label>
				<div class="controls">
				  <input type="file" id="fileInput" class="input-file">
				</div>
			  </div>

			<div class="clear_medium"></div>
			<label class="control-label" for="gender">Gender</label>
			<div class="controls">
				<select class="span3 fl mrt">
					<option>None</option>
					<option>Male</option>
					<option>Female</option>
				  </select>
			</div>

			<div class="clear_medium"></div>
			<label class="control-label" for="about">About yourself</label>
			<div class="control-group">
				<div class="controls">
				  <textarea rows="3" id="textarea" class="input-xlarge"></textarea>
				</div>
			  </div>

			  <div class="clear_medium"></div>
			<label class="control-label" for="occupation">Occupation</label>
			<div class="control-group">
				<div class="controls">
				<input type="text" class="input-xlarge" name="occupation" id="occupation">
				</div>
			  </div>

			  

			  <div class="clear_medium"></div>
			<label class="control-label" for="contacts">Contacts</label>
			<div class="controls">
				<input type="text" class="input-xlarge" name="contacts" id="contacts">
			</div>
			

			<div class="clear_medium"></div>
			<label class="control-label" for="name">Birthday</label>
			<div class="controls">
				<select class="span1 fl mrt">
					<option>Day</option>
					<% for (i=1; i<=31; i++) { %> 
						<option><%= i %></option>
					<% } %>
				  </select>

				  <select class="span1 fl mrt">
					<option>Month</option>
						<option value="January">January</option>
						<option value="February">February</option>
						<option value="March">March</option>
						<option value="April">April</option>
						<option value="May">May</option>
						<option value="June">June</option>
						<option value="July">July</option>
						<option value="August">August</option>
						<option value="September">September</option>
						<option value="October">October</option>
						<option value="November">November</option>
						<option value="December">December</option>
				  </select>

				  <select class="span1 fl mrt">
					<option>Year</option>
					<% for (i=2010; i>=1950; i--) { %> 
						<option><%= i %></option>
					<% } %>
				  </select>

			</div>
			
			<div class="clear_medium"></div>
			<label class="control-label" for="country">Country</label>
			<div class="controls">
				<select class="span3 fl mrt">
					 <option value="227">Ukraine</option>
					<option value="1">Belarus</option>
					<option value="2">Russia</option>
					<option value="3">Austria</option>
					<option value="4">Azerbaijan</option>
					<option value="5">Albania</option>
					<option value="6">Algeria</option>
					<option value="7">Angola</option>
					<option value="8">Anguilla</option>
					<option value="9">Andorra</option>
					<option value="10">Antarctic</option>
					<option value="11">Antigua and Barbuda</option>
					<option value="12">Netherlands Antilles</option>
					<option value="13">Argentina</option>
					<option value="14">Armenia</option>
					<option value="15">Afghanistan</option>
					<option value="16">Bahamian islands</option>
					<option value="17">Bangladesh</option>
					<option value="18">Barbados</option>
					<option value="19">Bahrain</option>
					<option value="20">Belize</option>
					<option value="21">Belgium</option>
					<option value="22">Benin</option>
					<option value="23">Bermudas</option>
					<option value="24">Bulgaria</option>
					<option value="25">Bolivia</option>
					<option value="26">Bosnia and Herzegovina</option>
					<option value="27">Botswana</option>
					<option value="28">Brazil</option>
					<option value="29">British Oceania</option>
					<option value="30">British Virgin islands</option>
					<option value="31">Brunei</option>
					<option value="32">Burkina Faso</option>
					<option value="33">Burundi</option>
					<option value="34">Bhutan </option>
					<option value="35">Wallis and Futuna</option>
					<option value="36">Vanuatu</option>
					<option value="37">Great Britain</option>
					<option value="38">Hungary</option>
					<option value="39">Venezuela</option>
					<option value="40">Eastern Timor</option>
					<option value="41">Vietnam</option>
					<option value="42">Gabon</option>
					<option value="43">Haiti</option>
					<option value="44">Guyana</option>
					<option value="45">Gambia</option>
					<option value="46">Ghana</option>
					<option value="47">Guadeloupe</option>
					<option value="48">Guatemala</option>
					<option value="49">Guinea</option>
					<option value="50">Guinea-Bissau</option>
					<option value="51">Germany</option>
					<option value="52">Gibraltar</option>
					<option value="53">Honduras</option>
					<option value="54">Hong Kong</option>
					<option value="55">Greenland</option>
					<option value="56">Grenada</option>
					<option value="57">Greece</option>
					<option value="58">Georgia</option>
					<option value="59">Denmark</option>
					<option value="60">Djibouti</option>
					<option value="61">Dominica</option>
					<option value="62">Dominican republic</option>
					<option value="63">Egypt</option>
					<option value="64">Zambia</option>
					<option value="65">Western Sahara</option>
					<option value="66">Zimbabwe</option>
					<option value="67">Israel</option>
					<option value="68">India</option>
					<option value="69">Indonesia</option>
					<option value="70">Jordan</option>
					<option value="71">Iraq</option>
					<option value="72">Iran</option>
					<option value="73">Ireland</option>
					<option value="74">Iceland</option>
					<option value="75">Spain</option>
					<option value="76">Italy</option>
					<option value="77">Yemen</option>
					<option value="78">Cape Verde</option>
					<option value="79">Kazakhstan</option>
					<option value="80">Canary Islands</option>
					<option value="81">Cambodia</option>
					<option value="82">Cameroon</option>
					<option value="83">Canada</option>
					<option value="84">Qatar</option>
					<option value="85">Kenya</option>
					<option value="86">Cyprus</option>
					<option value="87">Kiribati</option>
					<option value="88">China</option>
					<option value="89">Cocos (Keeling) Islands</option>
					<option value="90">Colombia</option>
					<option value="91">Comoros Islands</option>
					<option value="92">Congo (Brazzaville)</option>
					<option value="93">Costa Rica</option>
					<option value="94">Côte d'Ivoire</option>
					<option value="95">Cuba</option>
					<option value="96">Kuwait</option>
					<option value="97">Cook Islands</option>
					<option value="98">Kyrgyzstan</option>
					<option value="99">Laos</option>
					<option value="100">Latvia</option>
					<option value="101">Lesotho</option>
					<option value="102">Liberia</option>
					<option value="103">Lebanon</option>
					<option value="104">Libya</option>
					<option value="105">Lithuania</option>
					<option value="106">Liechtenstein</option>
					<option value="107">Luxemburg</option>
					<option value="108">Mauritius</option>
					<option value="109">Mauritania</option>
					<option value="110">Madagascar</option>
					<option value="111">Mayotte</option>
					<option value="112">Macao</option>
					<option value="113">Macedonia</option>
					<option value="114">Malawi</option>
					<option value="115">Malaysia</option>
					<option value="116">Mali</option>
					<option value="117">Maldivian islands</option>
					<option value="118">Malta</option>
					<option value="119">Martinique island</option>
					<option value="120">Mexico</option>
					<option value="121">Mozambique</option>
					<option value="122">Moldova</option>
					<option value="123">Monaco</option>
					<option value="124">Mongolia</option>
					<option value="125">Montserrat</option>
					<option value="126">Morocco</option>
					<option value="127">Myanmar (Burma)</option>
					<option value="128">Namibia</option>
					<option value="129">Nauru</option>
					<option value="130">Nepal</option>
					<option value="131">Niger</option>
					<option value="132">Nigeria</option>
					<option value="133">Netherlands</option>
					<option value="134">Nicaragua</option>
					<option value="135">New Zealand</option>
					<option value="136">New Caledonia</option>
					<option value="137">Norway</option>
					<option value="138">Norfolk Island</option>
					<option value="139">Nue</option>
					<option value="140">UAE</option>
					<option value="141">Oman</option>
					<option value="142">Pakistan</option>
					<option value="143">Panama</option>
					<option value="144">New Guinea</option>
					<option value="145">Paraguay</option>
					<option value="146">Peru</option>
					<option value="147">Pitcairn Island</option>
					<option value="148">Poland</option>
					<option value="149">Portugal</option>
					<option value="150">Christmas Island</option>
					<option value="151">Ruanda</option>
					<option value="152">Rumania</option>
					<option value="153">USA</option>
					<option value="154">Salvador</option>
					<option value="155">Samoa Islands</option>
					<option value="156">San Marino</option>
					<option value="157">São Tome and Principe</option>
					<option value="158">Saudi Arabia</option>
					<option value="159">Swaziland</option>
					<option value="160">Svalbard</option>
					<option value="161">Saint Lucia</option>
					<option value="162">Holy Land</option>
					<option value="163">Saint Helena</option>
					<option value="164">North Korea</option>
					<option value="165">Seychelles</option>
					<option value="166">Gaza Strip</option>
					<option value="167">Saint-Pierre and Miquelon</option>
					<option value="168">Senegal</option>
					<option value="169">Saint Kitts and Nevis</option>
					<option value="170">Saint Vincent and the Grenadines</option>
					<option value="171">Serbia and Montenegro</option>
					<option value="172">Singapore</option>
					<option value="173">Syria</option>
					<option value="174">Slovakia</option>
					<option value="175">Slovenia</option>
					<option value="176">Solomon's Islands</option>
					<option value="177">Somalia</option>
					<option value="178">Sudan</option>
					<option value="179">Surinam</option>
					<option value="180">Sierra Leone</option>
					<option value="181">Tajikistan</option>
					<option value="182">Taiwan</option>
					<option value="183">Thailand</option>
					<option value="184">Tanzania</option>
					<option value="185">Togo</option>
					<option value="186">Tokelau</option>
					<option value="187">Tonga Islands</option>
					<option value="188">Trinidad and Tobago</option>
					<option value="189">Tuvalu</option>
					<option value="190">Tunisia</option>
					<option value="191">Turkmenistan</option>
					<option value="192">Turks and Caicos</option>
					<option value="193">Turkey</option>
					<option value="194">Uganda</option>
					<option value="195">Uzbekistan</option>
					<option value="196">Uruguay</option>
					<option value="197">Falkland Islands</option>
					<option value="198">Faroe Islands</option>
					<option value="199">Fiji Islands</option>
					<option value="200">Philippines</option>
					<option value="201">Finland</option>
					<option value="202">France</option>
					<option value="203">French Guiana</option>
					<option value="204">French Polynesia</option>
					<option value="205">French Antarctic Islands</option>
					<option value="206">Heard Island and McDonald Islands</option>
					<option value="207">Croatia</option>
					<option value="208">Central Africa</option>
					<option value="209">Chad</option>
					<option value="210">Czech Republic</option>
					<option value="211">Chile</option>
					<option value="212">Switzerland</option>
					<option value="213">Sweden</option>
					<option value="214">Sri Lanka</option>
					<option value="215">Ecuador</option>
					<option value="216">Equatorial Guinea</option>
					<option value="217">Eritrea</option>
					<option value="218">Estonia</option>
					<option value="219">Ethiopia</option>
					<option value="220">South Africa</option>
					<option value="221">South Korea</option>
					<option value="222">South Sandwich Islands</option>
					<option value="223">Jamaica</option>
					<option value="224">Japan</option>
					<option value="225">Australia</option>
					<option value="226">Montenegro</option>
				  </select>

			</div>

			<div class="clear_medium"></div>
			<label class="control-label" for="city">City</label>
			<div class="controls">
				<input type="text" class="input-xlarge" name="city" id="city">
			</div>


			<h3 style="margin-left:200px;">Сhange password</h3>
			<div class="clear_small"></div>
			<label class="control-label" for="password">Old password</label>
			<div class="controls">
				<input type="text" class="input-xlarge" name="password" id="password">
			</div>
			<div class="clear_medium"></div>

			<label class="control-label" for="newpassword">New password</label>
			<div class="controls">
				<input type="text" class="input-xlarge" name="newpassword" id="newpassword">
			</div>
			<div class="clear_medium"></div>

			<label class="control-label" for="repeatpassword">Repeat password</label>
			<div class="controls">
				<input type="text" class="input-xlarge" name="repeatpassword" id="repeatpassword">
			</div>
			<div class="clear_medium"></div><div class="clear_medium"></div><div class="clear_medium"></div>

			<h3 style="margin-left:200px;">Сhange email</h3>
			<div class="clear_small"></div>
			<label class="control-label" for="password">New email</label>
			<div class="controls">
				<input type="text" class="input-xlarge" name="password" id="password">
			</div>
			<div class="clear_medium"></div>

			<div class="fr">
				<button class="btn btn-primary" type="submit">Update data</button>
				<button class="btn" >Cancel</button>
			</div>
		</div>
	</fieldset>
</form>
