<h1 class="mrl fl mrt">Files</h1>
<a class="mrl_small btn btn-primary btn-large" >Download new file</a>
<div class="clear_medium"></div><div class="clear_medium"></div>
<ul  class="mrl nav nav-tabs" id="myTab">
	<li class="active"><a href="#videos">Video</a></li>
	<li><a href="#photos">Photos</a></li>
	<li><a href="#docs">Docs</a></li>
</ul>

<div class="mrl tab-content">
	<div class="active tab-pane " id="videos">
		<div class="fl mrt " style="width:130px;">
			<a href="">
				<img src="/public/images/video1.jpg" ><br>
				Very good video
			</a>
		</div>

		<div class="fl mrt " style="width:130px;">
			<a href="">
				<img src="/public/images/video3.jpg" ><br>
				Very good video
			</a>
		</div>

		<div class="fl mrt " style="width:130px;">
			<a href="">
				<img src="/public/images/video2.jpg" ><br>
				Very good video
			</a>
		</div>

		<div class="fl mrt " style="width:130px;">
			<a href="">
				<img src="/public/images/video3.jpg" ><br>
				Very good video
			</a>
		</div>

		<div class="fl mrt " style="width:130px;">
			<a href="">
				<img src="/public/images/video1.jpg" ><br>
				Very good video
			</a>
		</div>

		<div class="clear_medium"></div><div class="clear_medium"></div>

		<div class="fl mrt " style="width:130px;">
			<a href="">
				<img src="/public/images/video2.jpg" ><br>
				Very good video
			</a>
		</div>

		<div class="fl mrt " style="width:130px;">
			<a href="">
				<img src="/public/images/video3.jpg" ><br>
				Very good video
			</a>
		</div>

		<div class="fl mrt " style="width:130px;">
			<a href="">
				<img src="/public/images/video2.jpg" ><br>
				Very good video
			</a>
		</div>

		<div class="fl mrt " style="width:130px;">
			<a href="">
				<img src="/public/images/video1.jpg" ><br>
				Very good video
			</a>
		</div>

	</div>
	<div class="tab-pane " id="photos">
		<div class="fl mrt " style="width:130px;">
			<a href="">
				<img width="130" src="/public/images/photo1.jpg" ><br>
				Very good photo
			</a>
		</div>

		<div class="fl mrt " style="width:130px;">
			<a href="">
				<img width="130" src="/public/images/photo2.jpg" ><br>
				Very good photo
			</a>
		</div>

		<div class="fl mrt " style="width:130px;">
			<a href="">
				<img width="130" src="/public/images/photo3.jpg" ><br>
				Very good photo
			</a>
		</div>

		<div class="fl mrt " style="width:130px;">
			<a href="">
				<img width="130" src="/public/images/photo1.jpg" ><br>
				Very good photo
			</a>
		</div>

		<div class="fl mrt " style="width:130px;">
			<a href="">
				<img width="130" src="/public/images/photo3.jpg" ><br>
				Very good photo
			</a>
		</div>
		<div class="clear_medium"></div><div class="clear_medium"></div>
		<div class="fl mrt " style="width:130px;">
			<a href="">
				<img width="130" src="/public/images/photo2.jpg" ><br>
				Very good photo
			</a>
		</div>
	</div>
	<div class="tab-pane " id="docs">
		<div class="fl mrt " style="width:90px;">

			<a href="">
				<img src="/public/images/pdf.jpg" width="50"><br>
				Document pdf (21.04.2012)

			</a>
		</div>

		<div class="fl mrt " style="width:90px;">
			<a href="">
				<img src="/public/images/doc.jpg" width="50"><br>
				Document pdf (21.04.2012)
			</a>
		</div>

		<div class="fl mrt " style="width:90px;">
			<a href="">
				<img src="/public/images/excel.png" width="50"><br>
				Document pdf (21.04.2012)
			</a>
		</div>

		<div class="fl mrt " style="width:90px;">
			<a href="">
				<img src="/public/images/pdf.jpg" width="50"><br>
				Document pdf (21.04.2012)
			</a>
		</div>

		<div class="fl mrt " style="width:90px;">
			<a href="">
				<img src="/public/images/doc.jpg" width="50"><br>
				Document pdf (21.04.2012)
			</a>
		</div>

		<div class="fl mrt " style="width:90px;">
			<a href="">
				<img src="/public/images/excel.png" width="50"><br>
				Document pdf (21.04.2012)
			</a>
		</div>

		<div class="clear_medium"></div><div class="clear_medium"></div>

		<div class="fl mrt " style="width:90px;">
			<a href="">
				<img src="/public/images/pdf.jpg" width="50"><br>
				Document pdf (21.04.2012)
			</a>
		</div>

		<div class="fl mrt " style="width:90px;">
			<a href="">
				<img src="/public/images/doc.jpg" width="50"><br>
				Document pdf (21.04.2012)
			</a>
		</div>



		<div class="fl mrt " style="width:90px;">
			<a href="">
				<img src="/public/images/excel.png" width="50"><br>
				Document pdf (21.04.2012)
			</a>
		</div>

		<div class="fl mrt " style="width:90px;">
			<a href="">
				<img src="/public/images/pdf.jpg" width="50"><br>
				Document pdf (21.04.2012)
			</a>
		</div>

		<div class="fl mrt " style="width:90px;">
			<a href="">
				<img src="/public/images/doc.jpg" width="50"><br>
				Document pdf (21.04.2012)
			</a>
		</div>

		<div class="fl mrt " style="width:90px;">
			<a href="">
				<img src="/public/images/excel.png" width="50"><br>
				Document pdf (21.04.2012)
			</a>
		</div>

	</div>
</div>
<div class="clear_medium"></div>
<script>
$('#myTab a').click(function (e) {
	e.preventDefault();
	$(this).tab('show');
})
</script>
<div class="clear_medium"></div>