<div class="leftcol">
	<div class="clear_medium"></div><div class="clear_medium"></div>

	<a href="/users/12">
		<img src="/public/images/profile.png" style="width:60px;" ><br>
		Profile
	</a>
	<div class="clear_medium"></div><div class="clear_medium"></div>

	<a href="/photos">
		<img src="/public/images/photo.png" style="width:80px;" ><br>
		Photos
	</a>
	<div class="clear_medium"></div><div class="clear_medium"></div>

	<a href="/videos">
		<img src="/public/images/video.jpg" style="width:80px;" ><br>
		Videos
	</a>
	<div class="clear_medium"></div><div class="clear_medium"></div>

	<a href="/documents">
		<img src="/public/images/documents.jpg" style="width:80px;" ><br>
		Documents
	</a>
	<div class="clear_medium"></div><div class="clear_medium"></div>

	<a href="/friends">
		<img src="/public/images/friends.jpg" style="width:60px;" ><br>
		Friends
	</a>

	<div class="clear_medium"></div><div class="clear_medium"></div>
</div>