<h1 class="mrl fl mrt">Photos</h1>
<a class="mrl_small btn btn-primary btn-large" >Download new photo</a>
<div class="clear_medium"></div><div class="clear_medium"></div>

<div class="mrl tab-content">
	<div class="fl mrt " style="width:130px;">
		<a href="">
			<img width="130" src="/public/images/photo1.jpg" ><br>
			Very good photo
		</a>
	</div>

	<div class="fl mrt " style="width:130px;">
		<a href="">
			<img width="130" src="/public/images/photo2.jpg" ><br>
			Very good photo
		</a>
	</div>

	<div class="fl mrt " style="width:130px;">
		<a href="">
			<img width="130" src="/public/images/photo3.jpg" ><br>
			Very good photo
		</a>
	</div>

	<div class="fl mrt " style="width:130px;">
		<a href="">
			<img width="130" src="/public/images/photo1.jpg" ><br>
			Very good photo
		</a>
	</div>

	<div class="fl mrt " style="width:130px;">
		<a href="">
			<img width="130" src="/public/images/photo3.jpg" ><br>
			Very good photo
		</a>
	</div>
	<div class="clear_medium"></div><div class="clear_medium"></div>
	<div class="fl mrt " style="width:130px;">
		<a href="">
			<img width="130" src="/public/images/photo2.jpg" ><br>
			Very good photo
		</a>
	</div>
</div>
<div class="clear_medium"></div>
