

<div class="rightcol">
	<div class="clear_medium"></div><div class="clear_medium"></div>
	<ul class="mrl fl nav nav-tabs" id="myTab">
		<li><a href="#chat">Chat</a></li>
		<li><a href="#rooms">Rooms</a></li>
		<li class="active"><a href="#gadgets">Gadgets</a></li>
	</ul>
	<div class="clear_medium"></div>
	<div class="tab-content mrl">
		<div class="tab-pane " id="chat">
			<div class="fl" style="background-color:#fff;padding:10px;height:60px;width:257px;border:1px solid black;">
				<div style="width:50px;" class="mrl fl">
					<a href="/user/8/">
						<img width="40" src="/public/images/avatar.png" class="fl"></a>

					<b class="mrl fl">
						<a href="/user/8/">Vika</a>
					</b>

				</div>
				<div style="width:50px;" class="mrl fl">
					<a href="/user/8/">
						<img width="40" src="/public/images/avatar.png" class="fl"></a>

					<b class="mrl fl">
						<a href="/user/8/">Vika</a>
					</b>

				</div>
				<div style="width:50px;" class="mrl fl">
					<a href="/user/8/">
						<img width="40" src="/public/images/avatar.png" class="fl"></a>

					<b class="mrl fl">
						<a href="/user/8/">Vika</a>
					</b>

				</div>
				<div style="width:50px;" class="mrl fl">
					<a href="/user/8/">
						<img width="40" src="/public/images/avatar.png" class="fl"></a>

					<b class="mrl fl">
						<a href="/user/8/">Vika</a>
					</b>

				</div>
				<div class="clear_small"></div>
			</div>
			<div class="clear_medium"></div><div class="clear_medium"></div>
			<div class="controls">
              <textarea rows="3" id="textarea" class="input-xlarge"></textarea>
            </div>
			<button type="submit" class="fr mrt btn btn-primary">Send</button>
		</div>

		<div class="tab-pane" id="rooms">
			<div class="fl" style="background-color:#fff;padding:10px;height:60px;width:257px;border:1px solid black;">
				<div style="width:50px;" class="mrl fl">
					<a href="/user/8/">
						<img width="40" src="/public/images/avatar.png" class="fl"></a>

					<b class="mrl fl">
						<a href="/user/8/">Vika</a>
					</b>

				</div>
				<div style="width:50px;" class="mrl fl">
					<a href="/user/8/">
						<img width="40" src="/public/images/avatar.png" class="fl"></a>

					<b class="mrl fl">
						<a href="/user/8/">Vika</a>
					</b>

				</div>
				<div style="width:50px;" class="mrl fl">
					<a href="/user/8/">
						<img width="40" src="/public/images/avatar.png" class="fl"></a>

					<b class="mrl fl">
						<a href="/user/8/">Vika</a>
					</b>

				</div>
				<div style="width:50px;" class="mrl fl">
					<a href="/user/8/">
						<img width="40" src="/public/images/avatar.png" class="fl"></a>

					<b class="mrl fl">
						<a href="/user/8/">Vika</a>
					</b>

				</div>
				<div class="clear_small"></div>
			</div>
			<div class="clear_medium"></div><div class="clear_medium"></div>
			<div class="fl" style="background-color:#fff;padding:10px;height:60px;width:257px;border:1px solid black;">
				<div style="width:50px;" class="mrl fl">
					<a href="/user/8/">
						<img width="40" src="/public/images/avatar.png" class="fl"></a>

					<b class="mrl fl">
						<a href="/user/8/">Vika</a>
					</b>

				</div>
				<div style="width:50px;" class="mrl fl">
					<a href="/user/8/">
						<img width="40" src="/public/images/avatar.png" class="fl"></a>

					<b class="mrl fl">
						<a href="/user/8/">Vika</a>
					</b>

				</div>
				<div style="width:50px;" class="mrl fl">
					<a href="/user/8/">
						<img width="40" src="/public/images/avatar.png" class="fl"></a>

					<b class="mrl fl">
						<a href="/user/8/">Vika</a>
					</b>

				</div>
				<div style="width:50px;" class="mrl fl">
					<a href="/user/8/">
						<img width="40" src="/public/images/avatar.png" class="fl"></a>

					<b class="mrl fl">
						<a href="/user/8/">Vika</a>
					</b>

				</div>
				<div class="clear_small"></div>
			</div>
			<div class="clear_medium"></div><div class="clear_medium"></div>
			<div class="fl" style="background-color:#fff;padding:10px;height:60px;width:257px;border:1px solid black;">
				<div style="width:50px;" class="mrl fl">
					<a href="/user/8/">
						<img width="40" src="/public/images/avatar.png" class="fl"></a>

					<b class="mrl fl">
						<a href="/user/8/">Vika</a>
					</b>

				</div>
				<div style="width:50px;" class="mrl fl">
					<a href="/user/8/">
						<img width="40" src="/public/images/avatar.png" class="fl"></a>

					<b class="mrl fl">
						<a href="/user/8/">Vika</a>
					</b>

				</div>
				<div style="width:50px;" class="mrl fl">
					<a href="/user/8/">
						<img width="40" src="/public/images/avatar.png" class="fl"></a>

					<b class="mrl fl">
						<a href="/user/8/">Vika</a>
					</b>

				</div>
				<div style="width:50px;" class="mrl fl">
					<a href="/user/8/">
						<img width="40" src="/public/images/avatar.png" class="fl"></a>

					<b class="mrl fl">
						<a href="/user/8/">Vika</a>
					</b>

				</div>
				<div class="clear_small"></div>
			</div>
			<div class="clear_medium"></div><div class="clear_medium"></div>
			<div class="fl" style="background-color:#fff;padding:10px;height:60px;width:257px;border:1px solid black;">
				<div style="width:50px;" class="mrl fl">
					<a href="/user/8/">
						<img width="40" src="/public/images/avatar.png" class="fl"></a>

					<b class="mrl fl">
						<a href="/user/8/">Vika</a>
					</b>

				</div>
				<div style="width:50px;" class="mrl fl">
					<a href="/user/8/">
						<img width="40" src="/public/images/avatar.png" class="fl"></a>

					<b class="mrl fl">
						<a href="/user/8/">Vika</a>
					</b>

				</div>
				<div style="width:50px;" class="mrl fl">
					<a href="/user/8/">
						<img width="40" src="/public/images/avatar.png" class="fl"></a>

					<b class="mrl fl">
						<a href="/user/8/">Vika</a>
					</b>

				</div>
				<div style="width:50px;" class="mrl fl">
					<a href="/user/8/">
						<img width="40" src="/public/images/avatar.png" class="fl"></a>

					<b class="mrl fl">
						<a href="/user/8/">Vika</a>
					</b>

				</div>
				<div class="clear_small"></div>
			</div>
			<div class="clear_medium"></div><div class="clear_medium"></div>
		</div>

		<div class="active tab-pane" id="gadgets">
			<a id="opener" href="/user/12">
				<img src="/public/images/video.jpg" style="width:100px;" ><br>
				Video
			</a>
			<div class="clear_medium"></div><div class="clear_medium"></div>

			<a id="opener2" href="/user/12">
				<img src="/public/images/photo.png" style="width:100px;" ><br>
				Photo
			</a>
			<div class="clear_medium"></div><div class="clear_medium"></div>

		</div>
	</div>

	<div class="clear_medium"></div><div class="clear_medium"></div>
</div>

<div id="dialog3" style="display:none;" title="Basic dialog">
	<video id="player1" width="350" height="250" poster="/javascripts/video/avatar.png" controls="controls" preload="none">
		<!-- MP4 for Safari, IE9, iPhone, iPad, Android, and Windows Phone 7 -->
		<source type="video/mp4" src="/javascripts/video/myvideo.mp4" />
		<!-- WebM/VP8 for Firefox4, Opera, and Chrome -->
		<source type="video/webm" src="/javascripts/video/myvideo.webm" />
		<!-- Ogg/Vorbis for older Firefox and Opera versions -->
		<source type="video/ogg" src="/javascripts/video/myvideo.ogv" />
		<!-- Optional: Add subtitles for each language -->
		<track kind="subtitles" src="/javascripts/mediaplayer/build/subtitles.srt" srclang="en" />
		<!-- Optional: Add chapters -->
		<track kind="chapters" src="chapters.srt" srclang="en" />
		<!-- Flash fallback for non-HTML5 browsers without JavaScript -->
		<object width="400" height="300" type="application/x-shockwave-flash" data="/javascripts/mediaplayer/build/myjsfiles/">
			<param name="movie" value="/javascripts/mediaplayer/build/myjsfiles/" />
			<param name="flashvars" value="controls=true&file=/javascripts/video/myvideo.mp4" />
			<!-- Image as a last resort -->
			<img src="/javascripts/mediaplayer/build/myvideo.jpg" width="400" height="300" title="No video playback capabilities" />
		</object>
	</video>
</div>

<div id="dialog" title="Basic dialog">
	<div id="jp_container_1" class="jp-video jp-video-270p">
		<div class="jp-type-playlist">
			<div id="jquery_jplayer_1" class="jp-jplayer"></div>
			<div class="jp-gui">
				<div class="jp-video-play">
					<a href="javascript:;" class="jp-video-play-icon" tabindex="1">play</a>
				</div>
				<div class="jp-interface">
					<div class="jp-progress">
						<div class="jp-seek-bar">
							<div class="jp-play-bar"></div>
						</div>
					</div>
					<div class="jp-current-time"></div>
					<div class="jp-duration"></div>
					<div class="jp-controls-holder">
						<ul class="jp-controls">
							<li><a href="javascript:;" class="jp-previous" tabindex="1">previous</a></li>
							<li><a href="javascript:;" class="jp-play" tabindex="1">play</a></li>
							<li><a href="javascript:;" class="jp-pause" tabindex="1">pause</a></li>
							<li><a href="javascript:;" class="jp-next" tabindex="1">next</a></li>
							<li><a href="javascript:;" class="jp-stop" tabindex="1">stop</a></li>
							<li><a href="javascript:;" class="jp-mute" tabindex="1" title="mute">mute</a></li>
							<li><a href="javascript:;" class="jp-unmute" tabindex="1" title="unmute">unmute</a></li>
							<li><a href="javascript:;" class="jp-volume-max" tabindex="1" title="max volume">max volume</a></li>
						</ul>
						<div class="jp-volume-bar">
							<div class="jp-volume-bar-value"></div>
						</div>
						<ul class="jp-toggles">
							<li><a href="javascript:;" class="jp-full-screen" tabindex="1" title="full screen">full screen</a></li>
							<li><a href="javascript:;" class="jp-restore-screen" tabindex="1" title="restore screen">restore screen</a></li>
							<li><a href="javascript:;" class="jp-shuffle" tabindex="1" title="shuffle">shuffle</a></li>
							<li><a href="javascript:;" class="jp-shuffle-off" tabindex="1" title="shuffle off">shuffle off</a></li>
							<li><a href="javascript:;" class="jp-repeat" tabindex="1" title="repeat">repeat</a></li>
							<li><a href="javascript:;" class="jp-repeat-off" tabindex="1" title="repeat off">repeat off</a></li>
						</ul>
					</div>
					<div class="jp-title">
						<ul>
							<li></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="jp-playlist">
				<ul>
					<!-- The method Playlist.displayPlaylist() uses this unordered list -->
					<li></li>
				</ul>
				<input type="button" onclick="addToPlaylist();" value="addtoplaylist">
			</div>
			<div class="jp-no-solution">
				<span>Update Required</span>
				To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
			</div>
		</div>
	</div>
</div>


<div id="dialog2" title="Basic dialog">
	
</div>



<script>
	$('#myTab a').click(function (e) {
		e.preventDefault();
		$(this).tab('show');
	})

	var myPlaylist;

	// increase the default animation speed to exaggerate the effect
	$.fx.speeds._default = 300;
	$(function() {
		$( "#dialog" ).dialog({
			autoOpen: false,
			resizable: false,
			show: "show",
			hide: "explode",
			width:700,
			height:500
		});
		

		$( "#opener" ).click(function() {
			$( "#dialog" ).dialog("open");
			return false;
		});

		$( "#opener" ).draggable({
			cursor: "move",
			cursorAt: { top: 0, left: 0 },
			opacity: 0.7,
			helper: "clone",
			stop: function(e) {
				var top = e.clientY < 50 ? 50 : e.clientY;

				$( "#dialog" ).dialog({
					autoOpen: false,
					show: "show",
					hide: "hide",
					resizable: false,
					position: [e.clientX, top],
					width:700,
					height:500
				});
				$("#dialog").dialog("open");
			}
		});


		$( "#dialog2" ).dialog({
			autoOpen: false,
			resizable: false,
			show: "show",
			hide: "explode",
			width:700,
			height:500
		});

		$("#opener2").click(function() {
			$( "#dialog2" ).dialog("open");
			return false;
		});

		$("#opener2").draggable({
			cursor: "move",
			cursorAt: { top: 0, left: 0 },
			opacity: 0.7,
			helper: "clone",
			stop: function(e) {
				var top = e.clientY < 50 ? 50 : e.clientY;

				$( "#dialog2" ).dialog({
					autoOpen: false,
					show: "show",
					hide: "hide",
					resizable: false,
					position: [e.clientX, top],
					width:700,
					height:500
				});
				$("#dialog2").dialog("open");
			}
		});


		//video player
		$("#jquery_jplayer_1").jPlayer({
			ready: function () {
				$(this).jPlayer("setMedia", {
					//webmv: "http://www.jplayer.org/video/webm/Big_Buck_Bunny_Trailer.webm",
					flv: "/public/javascripts/video/1.flv",
					poster: "http://www.jplayer.org/video/poster/Big_Buck_Bunny_Trailer_480x270.png"
				});
				console.log('ready');
			},
			swfPath: "/javascripts/jplayer/jquery.jplayer",
			supplied: "flv",

			size: {
				width: "640px",
				height: "360px",
				cssClass: "jp-video-360p"
			},
			stop: function() {
				console.log('stop');
			},
			seeking: function() {
				console.log('seeking');
			},
			seeked : function() {
				console.log('seeked');
			},
			abort : function() {
				console.log('abort');
			},
			progress : function() {
				console.log('progress');
			},
			play: function() {
				console.log('play');
			},
			pause: function(arg) {
				console.log('pause');
			}
		});

		/*myPlaylist = new jPlayerPlaylist({
		jPlayer: "#jquery_jplayer_N",
			cssSelectorAncestor: "#jp_container_N"
		}, [
			{
				title:"Big Buck Bunny Trailer",
				artist:"Blender Foundation",
				m4v:"http://www.jplayer.org/video/m4v/Big_Buck_Bunny_Trailer.m4v"
			}
		], {
			playlistOptions: {
				enableRemoveControls: true
			},
			swfPath: "/javascripts/jplayer",
			supplied: "m4v"
		});*/

		/*new MediaElement('player1', {
			// shows debug errors on screen
			enablePluginDebug: false,
			// remove or reorder to change plugin priority
			plugins: ['flash','silverlight'],
			// specify to force MediaElement to use a particular video or audio type
			type: '',
			// path to Flash and Silverlight plugins
			pluginPath: '/javascripts/mediaplayer/build/myjsfiles/',
			// name of flash file
			flashName: '/javascripts/mediaplayer/build/flashmediaelement.swf',
			// name of silverlight file
			silverlightName: '/javascripts/mediaplayer/build/silverlightmediaelement.xap',
			// default if the <video width> is not specified
			defaultVideoWidth: 320,
			// default if the <video height> is not specified
			defaultVideoHeight: 240,
			// overrides <video width>
			pluginWidth: -1,
			// overrides <video height>
			pluginHeight: -1,
			// rate in milliseconds for Flash and Silverlight to fire the timeupdate event
			// larger number is less accurate, but less strain on plugin->JavaScript bridge
			timerRate: 1000,
			// method that fires when the Flash or Silverlight object is ready
			success: function (mediaElement, domObject) {

				// add event listener
				mediaElement.addEventListener('timeupdate', function(e) {
					console.log('timeupdate');
				}, false);

				// add event listener
				mediaElement.addEventListener('progress', function(e) {
					console.log('progress');
				}, false);

				// add event listener
				mediaElement.addEventListener('seeked', function(e) {
					console.log('seeked');
				}, false);

				// add event listener
				mediaElement.addEventListener('pause', function(e) {
					console.log('pause');
				}, false);

				// add event listener
				mediaElement.addEventListener('play', function(e) {
					console.log('play');
				}, false);

				 // add event listener
				mediaElement.addEventListener('v', function(e) {
					console.log('progress');
				}, false);

				// call the play method
				//mediaElement.play();

			},
			// fires when a problem is detected
			error: function () {

			}
		});*/
	});

function addToPlaylist() {
			myPlaylist.add({
				title:"Tempered Song",
				artist:"Miaow",
				mp3:"http://www.jplayer.org/audio/mp3/Miaow-01-Tempered-song.mp3",
				oga:"http://www.jplayer.org/audio/ogg/Miaow-01-Tempered-song.ogg",
				poster: "http://www.jplayer.org/audio/poster/Miaow_640x360.png"
			});
		}
</script>


