<script type="text/javascript" src="/public/javascripts/paperjs/dist/paper.js"></script>


<script src="/public/javascripts/drawing.js"></script>
<script src="/public/javascripts/colorpicker/colorpicker.js"></script>
<link href="/public/javascripts/colorpicker/colorpicker.css" rel="stylesheet">



<script type="text/paperscript" canvas="myCanvas">

	
	/*var raster = new Raster('curimg');
	raster.size = new Size(500, 300);
	raster.position = view.center;

	function onMouseDown(event) {
		if (raster.bounds.contains(event.point)) {
			raster.position = event.point;
		} 
	}

	function onMouseDrag(event) {
		if (raster.bounds.contains(event.point)) {
			raster.position = event.point;
		} 
		//raster.rotate(1);
	}*/


	function onMouseDown(event) {
		if (window.Drawing.tooltype == 'line'){
			window.Drawing.createTool(new Path());
		}
		else if (window.Drawing.tooltype == 'circle'){
			//window.Drawing.createTool(new Path.Circle());
		}
		else if (window.Drawing.tooltype == 'rectangle') {
			
		}
		else if (window.Drawing.tooltype == 'triangle') {
		
		}
		else if (window.Drawing.tooltype == 'brush') {
			window.Drawing.createTool(new Path());
			window.Drawing.addPoint(event.point);
			//tool.minDistance = 10;
			//tool.maxDistance = 15;
		}
		else if (window.Drawing.tooltype == 'straightline') {
			window.Drawing.createTool(new Path());
			if (window.Drawing.tool.segments.length == 0) {
				window.Drawing.tool.add(event.point);
			}
			 window.Drawing.tool.add(event.point);
		}
		
	}

	function onMouseDrag(event) {
		if (window.Drawing.tooltype == 'line'){
			window.Drawing.addPoint(event.point);
		}
		else if (window.Drawing.tooltype == 'circle'){
			var radius = (event.downPoint - event.point).length;
			window.Drawing.createTool(new Path.Circle(event.downPoint, radius));
			window.Drawing.tool.removeOnDrag();
		}
		else if (window.Drawing.tooltype == 'rectangle') {
			var sizes = event.downPoint - event.point;
			var rectangle = new Rectangle(event.point.x, event.point.y, sizes.x, sizes.y);
			window.Drawing.createTool(new Path.Rectangle(rectangle));
			window.Drawing.tool.removeOnDrag();
			//window.Drawing.createTool(new Rectangle(event.x, event.y));
		}
		else if (window.Drawing.tooltype == 'triangle') {
			var sides = 3;
			var radius = (event.downPoint - event.point).length;
			window.Drawing.createTool(new Path.RegularPolygon(event.downPoint, sides, radius));
			window.Drawing.tool.removeOnDrag();
			//var delta = event.point - event.downPoint;
			//window.Drawing.tool.rotate(delta.angle);
		}
		else if (window.Drawing.tooltype == 'oval') {
			var radius = (event.downPoint - event.point).length;
			window.Drawing.createTool(new Path.Oval(event.downPoint, radius));
			window.Drawing.tool.removeOnDrag();
		}
		else if (window.Drawing.tooltype == 'star') {
			var delta = event.point - event.downPoint;
			var radius = delta.length;
			var points = 5 + Math.round(radius / 50);
			var position = event.downPoint;
			window.Drawing.createTool(new Path.Star(position, points, radius / 2, radius));
			window.Drawing.tool.rotate(delta.angle);
			window.Drawing.tool.removeOnDrag();
		}
		else if (window.Drawing.tooltype == 'brush') {
			var step = event.delta / 2;
			step.angle += 90;
			var top = event.middlePoint + step;
			var bottom = event.middlePoint - step;
			
			window.Drawing.tool.add(top);
			window.Drawing.tool.insert(0, bottom);
			window.Drawing.tool.smooth();
		}
		else if (window.Drawing.tooltype == 'straightline') {
			 window.Drawing.tool.lastSegment.point = event.point;
		}
	}

	function onMouseUp(event) {
		if (window.Drawing.tooltype == 'line'){
			window.Drawing.addPoint(event.point);
		}
		else if (window.Drawing.tooltype == 'circle'){
		}
		else if (window.Drawing.tooltype == 'rectangle') {
			
		}
		else if (window.Drawing.tooltype == 'triangle') {
			window.Drawing.createTool(new Path.RegularPolygon(event.x, event.y));
		}
		else if (window.Drawing.tooltype == 'brush') {
			window.Drawing.addPoint(event.point);
			window.Drawing.tool.closed = true;
			window.Drawing.tool.smooth();
		}
	}


	$(document).ready(function() {
		window.Drawing.createTool(new Path());

		$('.color').click(function() {
			$('.color').removeClass('activen');
			window.Drawing.color = $(this).attr('data-color');
			$(this).addClass('activen');
		});
		$('.line').click(function() {
			$('.line').removeClass('activen');
			window.Drawing.strokeWidth = $(this).attr('data-color');
			$(this).addClass('activen');
		});
		$('.shape').click(function() {
			$('.shape').removeClass('activen');
			window.Drawing.tooltype = $(this).attr('data-color');;
			$(this).addClass('activen');
		});
		$('.fillcolor').click(function() {
			$('.fillcolor').removeClass('activen');
			window.Drawing.fillColor = $(this).attr('data-color');;
			$(this).addClass('activen');
		});
		/*$('.backgr').click(function() {
			$('.backgr').removeClass('activen');
			$(this).addClass('activen');
		});*/
		
	});

	

</script>

<script>
	$(document).ready(function() {
		jQuery('#jquery-colour-picker-example select').colourPicker({
			ico:    '/public/javascripts/colorpicker/jquery.colourPicker.gif', 
			title:    false
		});
	});
</script>


<h1 class="mrl">Rooms</h1>
<div class="clear_medium"></div>
<div class="clear_medium"></div>
<div class="fl mrt">
	<h1>Line colors</h1>
	<div class="color" style="background-color:red;" data-color="red"></div>
	<div class="color" style="background-color:orange;" data-color="orange"></div>
	<div class="color" style="background-color:yellow;" data-color="yellow"></div>
	<div class="color" style="background-color:green;" data-color="green"></div>
	<div class="color" style="background-color:#986536;" data-color="#986536"></div>
	<div class="color" style="background-color:blue;" data-color="blue"></div>
	<div class="color" style="background-color:#9aff99;" data-color="#9aff99"></div>
	<div class="clear_medium"></div>
	<h1>Fill colors</h1>
	<div class="fillcolor" style="background-color:white;" data-color="white"></div>
	<div class="fillcolor" style="background-color:orange;" data-color="orange"></div>
	<div class="fillcolor" style="background-color:yellow;" data-color="yellow"></div>
	<div class="fillcolor" style="background-color:green;" data-color="green"></div>
	<div class="fillcolor" style="background-color:#986536;" data-color="#986536"></div>
	<div class="fillcolor" style="background-color:blue;" data-color="blue"></div>
	<div class="fillcolor" style="background-color:#9aff99;" data-color="#9aff99"></div>
	<!--<h1>Background color</h1>
	<div class="backgr" style="background-color:white;" data-color="white"></div>
	<div class="backgr" style="background-color:orange;" data-color="orange"></div>
	<div class="backgr" style="background-color:yellow;" data-color="yellow"></div>
	<div class="backgr" style="background-color:green;" data-color="green"></div>
	<div class="backgr" style="background-color:#986536;" data-color="#986536"></div>
	<div class="backgr" style="background-color:blue;" data-color="blue"></div>
	<div class="backgr" style="background-color:#9aff99;" data-color="#9aff99"></div>-->
</div>
<div class="fl lines" style="padding:10px;">
	<div class="line" style="background-color:black;width:150px;height:3px;" data-color="3"></div>
	<div class="clear_medium"></div>
	<div class="line" style="background-color:black;width:150px;height:10px;" data-color="10"></div>
	<div class="clear_medium"></div>
	<div class="line" style="background-color:black;width:150px;height:20px;" data-color="20"></div>
	<div class="clear_medium"></div>
	<div class="line" style="background-color:black;width:150px;height:30px;" data-color="30"></div>
</div>

<div class="fl lines" style="padding:10px;">
	<div class="shape"  data-color="circle">
		Cirlce
	</div>
	<div class="clear_medium"></div>
	<div class="shape" data-color="rectangle">
		Rectangle
	</div>
	<div class="clear_medium"></div>
	<div class="shape"  data-color="triangle">
		Triangle
	</div>
	<div class="clear_medium"></div>
	<div class="shape" data-color="line">
		Line
	</div>
	<div class="clear_medium"></div>
	<div class="shape" data-color="oval">
		Oval
	</div>
	<div class="clear_medium"></div>
	<div class="shape" data-color="star">
		Star
	</div>
	<div class="clear_medium"></div>
	<div class="shape" data-color="brush">
		Brush
	</div>
	<div class="clear_medium"></div>
	<div class="shape" data-color="straightline">
		Straight line
	</div>
</div>
<div class="clear_medium"></div>


<canvas style="border:1px solid black;width:1000px;height:300px;" id="myCanvas" resize="true"></canvas>

<div class="clear_medium"></div>
<img src="/public/images/1.11057.jpg" id="curimg">



